[2021-02-05 01:46] stevebauman commented on #236
Hi @LunaTakaishi,

I’m still working on the update to LdapRecord-Laravel. Life has gotten in the way a bit for me to complete the update when I was supposed to have it finished.

Have you tried running composer update? Are you using Jetstream or Laravel UI?

[2021-02-05 02:04] LunaTakaishi commented on #236
Hi @stevebauman,

I did composer update, but ldaprecord doesn't upgrade.

- composer
`"directorytree / ldaprecord-laravel": "^ 2.0",`

- result
  `--Installing directorytree / ldaprecord (v2.0.4): Loading from cache`
  `--Installing directorytree / ldaprecord-laravel (v2.0.1): Loading from cache`

I'm not using Jetstream or Laravel UI.

[2021-02-05 02:08] stevebauman commented on #236
That’s strange — can you post your whole `composer.json` file?

[2021-02-05 02:13] LunaTakaishi commented on #236
Until now, I wrote as follows.
         `"directorytree / ldaprecord-laravel": "^ 2.0",`

However, I realized that I should write it like this.
[code]

I have successfully updated ldaprecord!

[2021-02-05 02:15] stevebauman commented on #236
Strange! It should have updated the core LdapRecord repository without specifying it manually... I’ll check this out.

Can you try authentication again with the latest? If you’re not using Jetstream or UI, you should be good to go!

[2021-02-05 02:23] LunaTakaishi commented on #236
I tried authentication again, but it didn't work...
Something may be wrong.

[2021-02-05 02:27] LunaTakaishi commented on #236
sorry.
After composer clear-cache, ldaprecord v2.1.1 was installed with only ldaprecord-laravel description!

[2021-02-05 02:38] stevebauman commented on #236
No problem @LunaTakaishi!

I performed a test on my own LDAP server using Laravel Jetstream and failover is actually working perfectly 😄

Can you give it a shot and let me know your results?

In my testing, I can add as many invalid hosts as I want, but it will continuously keep trying the next host in line until ultimately failing if the last host fails:

[code]

Notice the subsequent retries in

[2021-02-05 02:47] LunaTakaishi commented on #236
Hi @stevebauman,

I tried authentication again, but it didn't work...
Only this is spit out to the Log file.
`[2021-02-05 11:42:46] local.INFO: LDAP (ldap://172.20.3.8:389) - Operation: Binding - Username: XXXXXXXX  `

 I modified it.

- .env
[code]

- config/ldap.php
[code]

[2021-02-05 03:11] stevebauman commented on #236
Can you post your `LoginController` and your `composer.json` file? Also -- can you try updating your `composer.json` file to update to the latest LdapRecord-Laravel version by using `dev-master`? For example:

[code]

Then, run `composer update` -- and attempt authenticating again after the latest `dev-master` build has been downloaded.

I have a feeling you may be using Laravel UI -- judging by y

[2021-02-05 10:09] LunaTakaishi commented on #236
Hi, @stevebauman, I tried the above and it worked!
Wonderful 🎉. thank you very much!

Maybe I'm not using laravel-ui. How can I check if it is being used?
Just in case, put composer.js and LoginController.

[code]

[code]

[2021-02-05 16:29] stevebauman commented on #236
Awesome @LunaTakaishi! I'm so glad you're up and running. I should have a new tested release out today of LdapRecord-Laravel.

Also -- my apologies, you're using Laravel 6, which included the default authentication scaffolding, which was removed in Laravel 7 and extracted to the Laravel UI package. Thanks for pasting all that information for me to determine that.

Once the new release is out, I wi

[2021-02-05 16:31] stevebauman commented on #237
Ah okay thank so much for the detailed issue @nohnaimer!

I'm going to fix this bug. A rename request should not be sent to your LDAP server when the name has not actually been changed/updated.

Once I've pushed out a fix and made a new release, I will close this out to notify you 👍 .

[2021-02-09 11:20] mgiritli opened #240 "Pagination with openldap does not seem to have any effect"
**Environment (please complete the following information):**
 - LDAP Server Type: openldap
 - PHP Version:7.4

directorytree/ldaprecord             v1.12.4   A fully-featured LDAP ORM.
directorytree/ldaprecord-laravel     v1.7.6    LDAP Authentication & Management for Laravel.

I'm using ldaprecord for a while now and just recently needed to use pagination feature for the first time. However, when

[2021-02-09 17:19] stevebauman commented on #240
Hi @mgiritli,

This is intended. Unfortunately PHP's LDAP extension does not support the ability to iterate through "pages" of LDAP objects, because it does not allow you to re-use pagination cookies on subsequent HTTP requests.

This is highlighted in the LdapRecord docs:

https://ldaprecord.com/docs/core/v2/searching/#paginating

---

<img width="782" alt="Screen Shot 2021-02-09 at 12 15 23 PM"

[2021-02-09 17:19] #240 closed

[2021-02-10 15:15] JoNMii opened #241 "[Support] Why is needed a valid user/pass just for auth"
I dont understand this behaviour.
Why do i need to provide a valid account just to let other users log in with ldap accounts.

[2021-02-10 15:21] stevebauman commented on #241
Hi @JoNMii,

LdapRecord has to be able to search your LDAP directory to locate the user logging into your Laravel application.

If we could not search for users prior to logging them in, then users would have to login using their full distinguished names (if using any other LDAP server besides Active Directory).

You are free to use anonymous binds to your LDAP server if you'd prefer (setting `use

[2021-02-11 14:01] stevebauman commented on #236
LdapRecord-Laravel [v2.1.0](https://github.com/DirectoryTree/LdapRecord-Laravel/releases/tag/v2.1.0) has just been released with all these fixes 🎉

Thanks for your help debugging this @LunaTakaishi! ❤️

[2021-02-11 14:01] #236 closed

[2021-02-17 20:27] VGzsysadm opened #242 "[Bug] unicodepwd is not saving correct on Active Directory database"
**Environment (please complete the following information):**
 - Windows server 2019 Standard Edition - Active Directory
 - PHP 7.4.8 (cli) (built: Jul  9 2020 11:30:33) ( NTS Visual C++ 2017 x64 )
 - "directorytree/ldaprecord": "^2.1"

Greetings.

I have some problems in order to saving a user enabled with the correct password.

This is my test code.
[code]

The user is created as expected

[code]

[2021-02-17 22:16] stevebauman commented on #242
Hi @VGzsysadm!

Could you try `refresh()`'ing the user before setting their account control value and saving?

Here's an example:

[code]

If it still doesn't work -- can you dump the users attributes (with any sensitive attributes removed) after the last `save()` you perform (using `var_dump($user))` and post the result here?

Also, the `unicodePwd` attribute _should_ be set properly. You can tak

[2021-02-17 22:50] stevebauman commented on #237
Fixed in release [v2.1.3](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.1.3) 🎉

[2021-02-17 22:50] #237 closed

[2021-02-17 22:50] stevebauman commented on #241
Closing due to inactivity.

[2021-02-17 22:50] #241 closed

[2021-02-17 22:50] stevebauman commented on #214
Closing due to inactivity.

[2021-02-17 22:50] #214 closed

[2021-02-17 22:58] stevebauman commented on #239
Ok great. In that case, you could do the following to achieve this:

1. Configure LdapRecord as a Laravel [authentication provider](https://ldaprecord.com/docs/laravel/v2/auth/database/configuration/#introduction) in your application.
2. Enable [password sync](https://ldaprecord.com/docs/laravel/v2/auth/database/configuration/#database-password-sync) (if needed)
3. Use [attribute handlers](https:/

[2021-02-18 18:20] VGzsysadm commented on #242
Greetings @stevebauman

The refresh did the trick

// Refresh the user attributes.
$user->refresh();

Thanks for you help.

Kind regards.

[2021-02-18 18:20] #242 closed

[2021-02-18 18:26] stevebauman commented on #242
Awesome @VGzsysadm! Glad that worked. This is likely due to how LDAP modifications are generated on LdapRecord models.

After creating a non-existent object using `save()`, the `userAccountControl` property does not actually exist in the LdapRecord model's `$attributes` array. Since it does not exist inside of the model's attributes, LdapRecord will assume it's a **_new_** attribute, and send a `L

[2021-02-19 02:08] satyakresna commented on #239
Noted, thanks a lot Steve!

[2021-02-19 02:22] #239 closed

[2021-02-22 15:48] misenhei opened #243 "[Bug] Documentation says to use 'hides' to prevent serialization of attributes, but should be 'hidden'"
Your documentation to hide a variable from serialization says to use 'hides':
https://ldaprecord.com/docs/core/v2/models/#hiding-attributes

but to hide attributes from serialization in Laravel 8.x the variable is 'hidden', not 'hides:
https://laravel.com/docs/8.x/eloquent-serialization#hiding-attributes-from-json

Using 'hides' does not work, but when changed to 'hidden' in the model the attribut

[2021-02-22 15:58] stevebauman commented on #243
Great catch @misenhei! Thanks for letting me know about this ❤️ . You are absolutely correct, the property is indeed `$hidden` and not `$hides`.

I've just fixed this in the documentation. It should be live on the website in a couple minutes while a new build is generated 👍

[2021-02-22 15:58] #243 closed

[2021-02-23 16:05] gnewmann opened #244 "Non-static method LdapRecord\Container [Support]"
Hey @stevebauman,

I'm facing a problem, where I am not shure if it (only) belongs to LDAPRecord.. but maybe you can help me out.

I cloned my Repo to a linux test server, to get my laravel installation up and running.
I installed all needed dependencies and composer.

When I'm trying to "composer install" I receive following error message:

Non-static method LdapRecord\Container::getEventDispatch

[2021-02-23 19:05] stevebauman commented on #244
Hey @gnewmann, thanks so much for the sponsorship!

Can you post your `composer.json` file here so I can take a look and help you debug?

[2021-02-23 19:19] gnewmann commented on #244
Hey @stevebauman , thanks for the quick response, of course:
`{
    "name": "laravel/laravel",
    "type": "project",
    "description": "The Laravel Framework.",
    "keywords": [
        "framework",
        "laravel"
    ],
    "license": "MIT",
    "require": {
        "php": "^7.3.0",
        "ext-json": "*",
        "directorytree/ldaprecord-laravel": "^1.2",
        "fideloper/proxy": "^4.2

[2021-02-23 19:26] stevebauman commented on #244
No problem! Ok great, can you upload your composer.lock` file? It will show me what specific versions of LdapRecord-Laravel and LdapRecord you have installed 👍

[2021-02-23 19:31] gnewmann commented on #244
Yes of course :)

Here we go:

        {
            "name": "directorytree/ldaprecord",
            "version": "v1.12.1",
            "source": {
                "type": "git",
                "url": "https://github.com/DirectoryTree/LdapRecord.git",
                "reference": "4dd945db58a78eb2768477905b7ebb473dc782dc"
            },
            "dist": {
                "type": "zip",

[2021-02-23 20:08] stevebauman commented on #244
Thanks @gnewmann! This is a bug that came from a recent patch. I'm assuming your local install of LdapRecord is different from your servers, since you likely used `composer update` on your local machine and `composer install` on your server.

I'll have a patch out in 2 hours! 👍

[2021-02-23 21:19] gnewmann commented on #244
Great, thanks a lot @stevebauman keep on the good work! It's great :)

[2021-02-23 21:19] #244 closed

[2021-02-23 23:33] stevebauman commented on #244
Thanks so much for your kind words @gnewmann! I've just pushed release [v1.12.5](https://github.com/DirectoryTree/LdapRecord/releases/tag/v1.12.5) with a fix for this 🎉 .

Can you `composer update` to it on your server and local machine and attempt running your application again on your test server? Let me know how it goes! 😄

[2021-02-24 14:54] gnewmann commented on #244
It worked like a charm @stevebauman Thanks alot!

[2021-02-24 15:05] stevebauman commented on #244
Awesome! Happy to help @gnewmann! Thanks for letting me know you're up and running 👍

[2021-02-24 17:21] imme-emosol commented on #149
Hm.. yes.
I perform filesystem write-actions from my host that runs a minimal php.
I have a read-only docker container that serves my application.
With this additions I was able to publish..
Assuming the functions and constants do not actually effect the publication itself,
perhaps the constants and function checks could be set up in the publish command before publishing..?

[code]

[2021-02-24 18:12] stevebauman commented on #149
Hi @imme-emosol!

I don't think we should be defining functions and constants that are required for LdapRecord to work or be published. The PHP install that is performing the publish or running the application should have the LDAP extension enabled.

Bypassing this requirement could lead to a lot of developer confusion as to why they're actually being defined in the LdapRecord core, but do not act

[2021-02-24 18:21] imme-emosol commented on #149
I can relate to that. Would an optional extra argument for artisan vendor:publish in LdapRecord-Laravel be acceptable?

[2021-02-24 18:38] stevebauman commented on #149
That sounds like it could be doable! How would you implement that? Do you have any thoughts on implementation?

[2021-02-24 19:13] imme-emosol commented on #149
Not yet. I will sent a PR to theLdapRecord-Laravel repository if and when I work something out. Thanks so far.

[2021-02-25 19:53] stevebauman opened #247 "[Feature] Automatic base DN substitution in queries"
Going through the LdapRecord API, it became a bit clear that including an LDAP base DN every time you want to query inside an OU is quite an arduous task, that could be handled automatically by the framework.

For an example, take this query:

[code]

Specifying `dc=local,dc=com` should be assumed, since the model knows about the connection **and** its base DN.

We should instead be able to do thi

[2021-02-25 22:07] raysn0w opened #248 "[Bug] unicodepwd is not being encoded"
**Environment (please complete the following information):**
 - LDAP Server Type: [ActiveDirectory]
 - PHP Version: [7.4.3]

Hi Steve,

I realized that my users were being created with a blank password, upon checking the automatic encoding it looks like I'm not getting the expected results as stated in the docs:

[code]

This is the result:

[code]

Any ideas what could be wrong? I'm using Laravel

[2021-02-25 22:19] misenhei opened #249 "[Bug] calling method refresh() sets the attributes of the parent record when refresh() returns true"
**Environment (please complete the following information):**
 - LDAP Server Type: OpenLDAP
 - PHP Version: 7.3
 - Larval 8.x
- directorytree/ldaprecord           v2.1.3   A fully-featured LDAP ORM.
- directorytree/ldaprecord-laravel   v2.1.1   LDAP Authentication & Management for Laravel.

**Describe the bug:**

The `refresh()` method is actually returning the attributes and object classes of the

[2021-02-26 17:02] stevebauman commented on #249
Hi @misenhei,

Can you post your scope that you've added to your `LdapUser` model?

[2021-02-26 17:04] stevebauman commented on #248
Hi @raysn0w,

What `User` model are you using? Are you using a custom model? If so, can you post your models code?

[2021-02-26 20:38] misenhei commented on #249
LdapUser
[code]

OnlyLdapPeople
[code]

[2021-02-26 20:53] raysn0w commented on #248
Hi Steve,

I'm using the User model from "LdapRecord\Models\ActiveDirectory".

Funny enough, this worked for me when creating the user:

[code]

Even tho the encoding test still fails, it looks like it actually doing it.  Weird.

[2021-03-03 07:27] ys-office opened #250 "[Support] I have failed LDAP authentication integration. I want you to tell me how to recover"
Hi,

It worked with OpenLDAP, but it fails with eDirectory. Which setting should I change?

- Success case
[code]

- Fail case
[code]

- Configurations

  - APP_ROOT/config/auth.php
[code]

[2021-03-05 08:45] #250 closed

[2021-03-05 16:00] stevebauman commented on #250
Sorry I didn't get to your issue in time @ys-office! Please let me know if you run into anything else and I'd be happy to help! ❤️

[2021-03-10 12:47] kendertas opened #251 "Failed to create paged result control value: Bad parameter"
Hi, I have a problem to get all users from LDAP.
Connection is fine.

I just run

`$users = User::all();`

but I get a warning
PHP Warning:  ldap_set_option(): Failed to create paged result control value: Bad parameter to an ldap routine (-9)
and it doesn't work

This is the config I use for connection
[code]

"version": "v2.2.0"

Can you help me?
Thanks

[2021-03-10 13:41] stevebauman commented on #251
Hi @kendertas,

I can absolutely help you out.

Does downgrading to v2.1.2 resolve the issue for you? Also, which PHP version are you running?

[2021-03-10 14:17] stevebauman commented on #251
I've just pushed a commit that I believe should resolve this issue. Can you try downgrading and then using `dev-master` to see if you still encounter this issue?

[2021-03-10 14:18] stevebauman commented on #251
Scratch that -- I'm able to reproduce this. Patching now, thanks!

[2021-03-10 14:50] #251 closed

[2021-03-10 14:51] stevebauman commented on #251
Released version [v2.2.1](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.2.1). You're all set!

Let me know if you encounter any further issues 👍

[2021-03-10 15:05] kendertas commented on #251
Thanks, it works!

[2021-03-10 15:11] #248 closed

[2021-03-11 03:38] #249 closed

[2021-03-11 04:16] stevebauman commented on #249
Thanks for the report @misenhei! I was able to reproduce this in my own environment and in test cases.

I've just made a new release that contains the patch for this bug ([v2.2.2](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.2.2)).

Run `composer update` and you're all set!

[2021-03-12 17:57] stevebauman commented on #247
Settled with the below syntax:

[code]

[2021-03-16 10:40] nohnaimer opened #253 "[Bug] 'LDAP operation [rename] failed.' OpenLdap"
**Environment (please complete the following information):**
 - LDAP Server Type: OpenLDAP
 - PHP Version: 7.4.16
 - LdapRecord 2.2.3

**Describe the bug:**
[code]
Cn in OpenLdap and rdn in code - different. Try admin user - same error.
I use same method rename https://github.com/DirectoryTree/LdapRecord/blob/c7221d46b64e5a301a4820e583190a79c50c8013/src/Models/Model.php#L1239 described https://lda

[2021-03-16 12:57] stevebauman commented on #253
Hi @nohnaimer, can you post your code with the values that you're setting for the objects new RDN?

Make sure you provide the objects new RDN into the rename method:

[code]

[2021-03-16 14:15] nohnaimer commented on #253
Code:
[code]
On $user I get user object with data from openldap server, but I still get error LDAP operation [rename] failed.
<img width="2472" alt="Снимок экрана 2021-03-16 в 17 15 19" src="https://user-images.githubusercontent.com/8865830/111323744-36989200-867b-11eb-9a93-1c0fbc1325d8.png">

[2021-03-16 14:25] stevebauman commented on #253
Hmm okay we'll have to pull the detailed error to see more here.

Wrap the `rename` call in the `try/catch` and then dump the detailed error object:

[code]

Then, post the details of the object here 👍

[2021-03-16 14:28] nohnaimer commented on #253
LdapRecord\DetailedError Object
(
    [errorCode:protected] => 34
    [errorMessage:protected] => Invalid DN syntax
    [diagnosticMessage:protected] => invalid newSuperior
)

[2021-03-17 08:51] cyrakuse opened #254 "[Support] How to create OrganizationalUnit"
Hi,

I'm a newbie with ldaprecord and i can't understand how to create OrganizationalUnit.
I'm using Active Directory.

i tried this :
`    $parent=OrganizationalUnit::findBy('description', "720");

    $ou= new OrganizationalUnit();
    $ou->createAttribute('cn',"my OU name");
    $ou->createAttribute('description',"my OU description text");
    $ou->inside($parent->getDn());
    $ou->save();`

b

[2021-03-17 11:08] HepplerDotNet opened #256 "[Bug] Group whereNotEquals returns nothing"
- LDAP Server Type:  ActiveDirectory
 - PHP Version: 8.0.3

[code]
Results in an empty LdapRecord\Models\Collection.

[code]
Returns a  LdapRecord\Models\Collection containing all groups within DN inclusive the group 'MyGroup' with DN = "CN=MyGroup,OU=Acme,dc=example,dc=com"

[2021-03-17 21:18] stevebauman commented on #254
Hi @cyrakuse,

You can't call the `createAttribute` method on a non-existent object. You instead need to set the attributes, and then call `save()`.

The `OrganizationalUnit`'s name attribute is `ou` and not `cn`. For example:

[code]

Hope this helps! Let me know if you need further assistance 👍

[2021-03-17 21:18] #254 closed

[2021-03-17 21:23] stevebauman commented on #256
Hi @HepplerDotNet!

This won't work -- you (unfortunately) can't use the `dn` property in LDAP filters.

You will instead have to utilize the `member` attribute:

[code]

If you need to search nested group memberships, use this attribute instead:

[code]

There are currently query builder methods for these attributes (`Group::whereMemberOf($dn)`), but not the inverse (which is what you're looking

[2021-03-17 21:25] #247 closed

[2021-03-19 12:45] HepplerDotNet commented on #256
@stevebauman
[code]
Returns MyGroup too. Unescaped Query:
`(&(objectclass=top)(objectclass=group)(!(member=MyGroup,OU=Acme,dc=example,dc=com)))`

[code]
Returns MyGroup too. Unescaped Query:
`(&(objectclass=top)(objectclass=group)(!(member:1.2.840.113556.1.4.1941:=MyGroup,OU=Acme,dc=example,dc=com)))`

[2021-03-19 13:00] stevebauman commented on #256
Ah my mistake -- I think I misread (or misunderstood) your issue. If you're looking to retrieve all groups *except* for `My Group`, then you'll have to exclude it by name (`cn`):

[code]

The above will get you all descendants of `OU=Acme,dc=example,dc=com`. If you only want immediate children, then use the `listing()` method:

[code]

There is the option of using an Object GUID as well, but there

[2021-03-19 13:05] HepplerDotNet commented on #256
@stevebauman
[code]
Works perfect. Thank you so much!

[2021-03-19 13:06] stevebauman commented on #256
Awesome! No problem, happy to help! 😄

[2021-03-22 13:12] #256 closed

[2021-03-23 02:55] stevebauman commented on #253
Hmm, this error means that the OU that the object resides in is invalid (at least looking at the OpenLDAP documentation).

Does renaming any other object work in your directory? Can you confirm that?

[2021-03-23 05:46] nohnaimer commented on #253
@stevebauman Hi,
You du not encode dn by rename and do not like my DN cn=Jane Doe,ou=Гродно\2C ул.Красноармейская\2C 3,l=Гродно,o=ProSeller,ou=Personnel,dc=test,dc=loc or when create DN do something wrong.

My escape method:
[code]
Not escaped value = Гродно, ул.Красноармейская, 3

I do not exclude that I am doing something wrong.

[2021-03-23 06:01] nohnaimer commented on #253
Try to change my escape method:
[code]
Same escaped DN - cn=Jane Doe,ou=Барановичи\2C пл.Ленина\2C1,l=Брест,o=ProSeller,ou=Personnel,dc=test,dc=loc and same error.
Any ideas how to escape('Барановичи, пл.Ленина,1') ?

[2021-03-24 18:32] walteralianzateam opened #259 "role laravel ldaprecorsd"
.

[2021-03-24 18:41] #259 closed

[2021-03-30 09:59] cyrakuse opened #260 "[Feature] User must change password"
Is it possible to add "user must change password at next logon" to the active directory Account Control ?

[2021-04-01 13:32] stevebauman commented on #260
Hi @cyrakuse,

Yes absolutely. I've documented how to do this:

https://ldaprecord.com/docs/core/v2/active-directory/users/#user-must-change-password-at-next-logon

[code]

[2021-04-02 16:56] stevebauman commented on #253
Hey @nohnaimer -- I haven't forgotten about you and this issue. I'll have a patch out shortly that resolves this problem! 👍

[2021-04-02 19:27] stevebauman commented on #253
Hey @nohnaimer! I've just pushed a patch to resolve this -- could you try using `dev-master` and attempt renaming using the below code?

[code]

[2021-04-05 05:58] nohnaimer commented on #253
[code]
Same error because 'Барановичи, пл.Ленина,1' part of DN. I change cn (rename) in this case. Do not escape DN in method rename.

[2021-04-06 12:15] cyrakuse opened #263 "[Bug] Lockout"
**Environment (please complete the following information):**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 7.4.9

**Describe the bug:**
`$user = User::findBy('samaccountname', "mylogin");

$uac = new AccountControl(
    $user->getFirstAttribute('userAccountControl')
);

echo "lockout value =".$uac->has(AccountControl::LOCKOUT)
`

The result is always a null value

I tried to get the value o

[2021-04-08 03:33] stevebauman commented on #263
Hi @cyrakuse,

That's strange -- are you connecting to your Active Directory server with a domain administrator? I believe it's a protected attribute.

I would first try simply dumping all the attributes on your returned user to make sure the `userAccountControl` value exists and contains a value:

[code]

---

Resources:

https://ldaprecord.com/docs/core/v2/active-directory/users/#check-if-a-user

[2021-04-08 03:37] stevebauman commented on #253
That's strange -- can you dump all of your users attributes using `var_dump($user->getAttributes())` and then post the result here so I can create a test case with all of the properties? Namely, the raw `dn` and `cn` attributes is what I'm looking for. Pease remove any sensitive information before posting, of course.

Once I have that I'll be able to debug this locally a lot easier. 👍

[2021-04-08 06:49] cyrakuse commented on #263
This is what i get :

`array (size=66)
  'objectclass' =>
    array (size=4)
      0 => string 'top' (length=3)
      1 => string 'person' (length=6)
      2 => string 'organizationalPerson' (length=20)
      3 => string 'user' (length=4)
  'cn' =>
    array (size=1)
      0 => string 'JEAN Michel' (length=11)
  'sn' =>
    array (size=1)
      0 => string 'JEAN' (length=4)
  'c' =>
    array (siz

[2021-04-08 11:47] nohnaimer commented on #253
HI @stevebauman.
On method getAttributes() no dn information from OpenLdap. I debug data on this. code:
[code]
Result:
[code]

[2021-04-09 03:30] stevebauman commented on #253
Excellent, thanks @nohnaimer! I'm able to reproduce this issue locally. I'll have a bug fix for this out tomorrow evening 👍

It's due to the `DistinguishedName` class un-escaping the distinguished name components, and producing an invalid DN.

[2021-04-10 01:54] #253 closed

[2021-04-10 01:55] stevebauman commented on #253
Ok -- I've resolved this issue. Can you try updating to `dev-master` and attempt a rename with that account?

[2021-04-10 02:10] stevebauman commented on #263
These are the flags applied to the that account control value:

[code]

Are you connected to your LDAP server with a domain administrator account?

[2021-04-12 14:19] nohnaimer commented on #253
Hi @stevebauman,
Everything works now.
Please add git tag because dev-master (2.4.x-dev) do not download. In composer.json lacks:
[code]

[2021-04-13 01:55] stevebauman commented on #253
Awesome! That's great to hear @nohnaimer. I'm glad you're up and running.

And absolutely, I've just released [v2.4.2](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.4.2) that contains this patch 👍

[2021-04-13 13:10] nohnaimer opened #264 "[Question] How to create (manage) group scope and group type?"
How to create/update type = Distribution and scope = Domain local group in Active Directory via ldaprecord?

[2021-04-14 16:52] RyanPriceDotCa opened #265 "[Bug] Paged Results cookie not set causing error to be thrown"
**Describe the bug:**

In AbstractPaginator on line 74 it references `fetchCookie()`.  We were getting an error in some cases when this cookie was not set.  The top portion of the stack trace and error are as follows:

[code]
PR incoming with fix.

[2021-04-14 19:35] #265 closed

[2021-04-14 19:43] stevebauman commented on #264
Hey @nohnaimer!

According to some docs online, I believe you would set this manually like so:

[code]

References:

- https://ldapwiki.com/wiki/GroupType
- https://docs.microsoft.com/en-us/windows/win32/adschema/a-grouptype

INT | Hex | Description
-- | -- | --
0 | 0x00000000 | MSDN says it could be 0 but not what "0" is.
1 | 0x00000001 | Specifies a group that is created by the system.
2 | 0x000

[2021-04-19 11:53] nohnaimer commented on #264
Thank you! Works.

[2021-04-19 11:53] #264 closed

[2021-04-19 14:59] stevebauman commented on #264
Awesome! Happy to help. Glad you’re up and running 😄

[2021-04-20 05:56] satyakresna opened #267 "[Support] How to append custom attribute to array in LDAPRecord Model?"
Hi @stevebauman, is that possible to append custom attribute to array in LDAPRecord model like Laravel has (Laravel Eloquent: Serialization: [Appending Values To JSON](https://laravel.com/docs/8.x/eloquent-serialization#appending-values-to-json))?

Here's the custom attribute I create where `domainname` attribute:

[code]

I expect `domainname` attribute added to attributes array.

![result](https

[2021-04-20 11:32] mgiritli opened #268 "Clarification of the usage of cache"
Hi, I am trying to implement a Redis based caching system to an already existing application which uses ldaprecord. I went through the docs but I am still a little bit confused about caching.

First of all, If I get it right, caching is only for ldaprecord-core queries and not for ldaprecord-laravel authentication module.

I assumed that setting caching driver and enabling it in config/ldap.conf w

[2021-04-20 14:45] stevebauman commented on #267
Hi @satyakresna!

Great question! Unfortunately accessors don't get appended to the arrayable attributes right now (there is no `$appends` feature). Though you've just pin-pointed a must-have feature that I have to port over from Eloquent. I'll definitely be adding this in 👍

To get this done right now in your application, you can override the `getArrayableAttributes()` method on your `User` model

[2021-04-20 14:47] stevebauman commented on #263
Closing due to inactivity.

[2021-04-20 14:47] #263 closed

[2021-04-21 02:56] satyakresna commented on #267
That's great! Thanks Steve! For now I'm using your solution and it works.

[2021-04-21 03:06] satyakresna opened #269 "[Support] whereContains and orWhereContains aren't work as expected"
Hi @stevebauman, when I try to search a user by more than 1 one words it doesn't work.

Example.

[code]

I search with entry text `charlie` or `Charlie` it works. But, when I search with entry text `charlie brown` or `Charlie Brown` it doesn't work. Also, this entry text is flexible. It can be use as a string to search `givenname`, `cn` and `mail`. I also try to search with entry text `123` or `1

[2021-04-21 03:43] stevebauman commented on #269
Hi @satyakresna,

Which directory server are you connecting to (Active Directory, OpenLDAP, etc.)?

You'll want to nest this search in an `orFilter` for it to work as you're intending:

[code]

This will create the below filter:

[code]

Can you give this a shot?

[2021-04-21 04:02] satyakresna commented on #269
Hi Steve. I'm using OpenLDAP. Is it possible with the solution above?

[2021-04-21 06:22] satyakresna commented on #269
Hi Steve. Your solution is perfect in OpenLDAP! Thanks a lot.

[2021-04-21 06:22] #269 closed

[2021-04-21 13:30] stevebauman commented on #269
Awesome @satyakresna! Really glad you're up and running! And no problem -- always happy to help 😄

[2021-04-22 06:17] satyakresna opened #270 "[Support] Route Model Binding and Pagination ala Laravel"
Hi @stevebauman, are that possible to add [route model binding feature in Laravel to LDAPRecord](https://laravel.com/docs/8.x/routing#route-model-binding) and add [pagination via Collection API that Laravel has](https://laravel.com/docs/8.x/routing#route-model-binding)?

So far, for handling pagination I convert LDAPRecord model to collection and install `spatie/laravel-collection-macros` to call

[2021-04-22 13:08] stevebauman commented on #270
Hi @satyakresna! Another great question.

I believe you should be able to accomplish this by creating your own LdapRecord model and adding the `getRouteKey()` and `resolveRouteBinding()` method:

[code]

Then, in your Laravel controllers, it should be resolved through type-hints:

[code]

Can you give that a shot?

[2021-04-25 03:15] stevebauman commented on #267
Glad you're up and running! 😄

Okay, I've just released [v2.4.3](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.4.3) that contains the ported `$appends` feature 👍

There is a difference to note however: `PascalCased` accessors must be defined in their *hyphenated* format in the `$appends` array, and will also appear in their hyphenated format in the resulting JSON string. For example,

[2021-04-25 03:15] #267 closed

[2021-04-25 12:34] Beko67 opened #271 "Connection [Warning: ldap_escape() expects parameter 1 to be string, array given]"
Please delete if possible.

[2021-04-25 13:05] #271 closed

[2021-04-26 00:52] stevebauman commented on #271
Hi @Beko67! Of course -- I'll delete this right now 👍

[2021-04-26 05:32] satyakresna commented on #267
Hi @stevebauman, it works great!

[2021-04-26 06:19] satyakresna commented on #270
Hi @stevebauman, I try and it looks like the another values like `uid`, `givenname`, `cn`, `mail`, etc don't appear when I run `dd($user)`.

Here are my codes:

[code]

[code]

![result-1](https://user-images.githubusercontent.com/11099186/116037222-5f5c7000-a69a-11eb-8220-625359316521.PNG)

[2021-04-27 03:17] satyakresna opened #272 "[Support] How to set password of user using User OpenLDAP model?"
Hi @stevebauman, in User OpenLDAP model `LdapRecord\Models\OpenLDAP\User` it has `setPassword` method. The question is how to set a password with `md5` encryption using `setPassword` method? Does like this?

[code]

I check in docs doesn't explain how to set password for OpenLDAP?

[2021-04-27 13:37] stevebauman commented on #272
Hi @satyakresna!

You're right -- the docs are lacking on OpenLDAP specifics. I don't have an OpenLDAP server to easily test on, so I've been relying on the community and their knowledge.

To answer your question, you will have to create your own model and extend the current one. There's two properties you can override on the `User` model:

- `$passwordAttribute` - The name of the attribute that c

[2021-04-27 22:51] satyakresna commented on #270
Hi @stevebauman, could you please follow up this issue?

[2021-04-27 23:57] satyakresna commented on #272
Hi @stevebauman, it works great! Thank you.

[2021-04-27 23:57] #272 closed

[2021-04-28 01:24] stevebauman commented on #270
Hi @satyakresna -- apologies. You're right -- the above doesn't work.

You will have to bind the models explicitly inside of the router using:

- `Route::model('parameter', Model::class)` or;
- `Route::bind('parameter', Closure $callback)` (if you want the model resolution logic outside of the model)

You can use either approach. Here's a quick overview of setting up both:

**Using `Route::model()

[2021-04-28 03:15] satyakresna commented on #270
Hi @stevebauman, I try but it throws 404 Not Found. Here's my code. The url in browser looks like this: `http://localhost:8002/users/uid=nanonano@unud.ac.id,ou=users,dc=unud,dc=ac,dc=id/edit`

### Route
[code]

### Controller

[code]

### Model

[code]

[2021-04-29 19:55] edwingromero opened #273 "[Support] Error Reset Password"
Hi guys, I get the following error when I want to reset the user password.

<img width="316" alt="cambiar password" src="https://user-images.githubusercontent.com/4934593/116610230-ead43c00-a8fa-11eb-9ffb-4fdb36ec1261.png">
<img width="466" alt="error cambiar password" src="https://user-images.githubusercontent.com/4934593/116610241-ee67c300-a8fa-11eb-8ed3-91db4bf6061c.png">

[2021-04-30 03:09] satyakresna commented on #270
Hi @stevebauman, could you please follow up this issue? Thank you.

[2021-05-01 02:24] satyakresna commented on #270
Hi @stevebauman, I would like use the `entryuuid`. But, somehow OpenLDAP throws `dn` instead of `entryuuid`. Here are the code and screenshots

#### Model

[code]

#### Service Provider

[code]

#### Web Route

[code]

#### Blade

[code]

#### Hover the link

![Screenshot 2021-05-01 10 13 25](https://user-images.githubusercontent.com/11099186/116768171-34da3080-aa67-11eb-972a-45d387161e28.png)

##

[2021-05-03 02:19] satyakresna commented on #270
Hi @stevebauman, could you please follow up this issue? Thanks.

[2021-05-03 03:32] satyakresna opened #274 "[Support] How to upload jpegPhoto in OpenLDAP?"
Hi @stevebauman, I check in ldaprecord docs there's no mention about how to upload jpegPhoto in OpenLDAP? Could you please guide step by step how to do that? Thanks.

[2021-05-03 06:29] satyakresna commented on #274
Never mind, I found the answer. To store user photo I should store it in `jpegPhoto` attribute in OpenLDAP. Then, to store it (in Laravel way) the code looks like this:

[code]

In model class I create accessor `getThumbnailphotoAttribute` here's the code:

[code]
[code]

[2021-05-03 06:29] #274 closed

[2021-05-04 01:47] stevebauman commented on #273
Hi @edwingromero,

What LDAP server are you connecting to (Active Directory / OpenLDAP etc.)?

Also, what version of LdapRecord are you using?

[2021-05-10 01:36] stevebauman commented on #273
Closing due to inactivity.

[2021-05-10 01:36] #273 closed

[2021-05-10 10:23] danito opened #275 "[Support] ldap:import -filter "or" not working"
**Environment (please complete the following information):**
 - LDAP Server Type: AD
 - PHP Version:  7.4

**Describe the bug:**
I try to import users from two AD groups with

[code]
But only the members of the first group are imported. Seems that the pipe is recognized as valid filter, but the second element is ignored.
Did I miss something ?
Thanks

[2021-05-10 12:52] jonassiewertsen opened #276 "[Bug] Not possible to fake the directory."
**Environment (please complete the following information):**
 - PHP Version: 8.0
 - Laravel: 8.0

I want to fake the Directory as described in the docs:
https://ldaprecord.com/docs/core/v2/testing/#test-case-setup

Against my expectation, I am getting the error message that the connection could not be found:
![Screenshot 2021-05-10 at 14 50 51](https://user-images.githubusercontent.com/38906163/11

[2021-05-11 03:46] Cbrad24 opened #277 "[Feature] Caching queries during recursion checks"
Was just looking at the logs for a Laravel project I have been working on, and I recently deployed a recursive group check as outlined here: https://ldaprecord.com/docs/laravel/v2/auth/database/configuration/#creating-rules

I noticed in the logs that it was firing off multiple requests for the same groups, including one group it queried 12 times throughout the login process, each query taking an

[2021-05-11 12:52] tim-breitenstein-it opened #278 "Authentication not working after update to v2.4.5"
**Environment (please complete the following information):**
 - LDAP Server Type: OpenLDAP
 - PHP Version: 7.3
 - LdapRecord: 2.4.5

**Describe the bug:**
- Authentication not working after update to [v2.4.5](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.4.5)
- Using authentication like: https://ldaprecord.com/docs/core/v2/authentication/#basic-authentication
- Exception: `ldap_bind(

[2021-05-11 13:36] stevebauman commented on #278
Hi @tim-breitenstein-it!

I've just released [v2.4.6](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.4.6) with a patch for this. I've tested this on my own LDAP server and installation and it's back up and running. I apologize for the inconvenience this has caused and really appreciate you creating the issue to inform me.

Let me know if you still encounter this issue! 👍

[2021-05-11 14:34] tim-breitenstein-it commented on #278
It works again!

[2021-05-11 14:42] #278 closed, assigned to nobody

[2021-05-12 19:22] jonassiewertsen commented on #276
Thanks

[2021-05-12 19:22] #276 closed

[2021-05-13 04:15] stevebauman commented on #277
Hi @Cbrad24!

That's strange -- groups with the same DN's should be excluded:

https://github.com/DirectoryTree/LdapRecord/blob/ee3fa8dbc65ab60d874ea8b8894e0a9735e57f53/src/Models/Relations/OneToMany.php#L152-L158

In regards to your issue title -- you should be able to cache the recursive queries using the `cache()` query builder method (if you've setup [caching](https://ldaprecord.com/docs/core/

[2021-05-13 04:20] stevebauman commented on #275
Hi @danito,

I'd avoid using the `--filter` argument with anything too complex (such as nested filters with or statements), as these are appended to a base `User` filter, which could return incorrect results.

Before moving to using a [scope](https://ldaprecord.com/docs/laravel/v2/usage/#scopes) instead, could you try again without the `objectclass=user` filter? This is applied automatically by th

[2021-05-14 01:02] Cbrad24 commented on #277
Hey Steve,

Little more digging, it appears it was only really happening for this one user.
I just tested with the cache flag as you recommended, here is the result I got.

Might be something to do with how the nesting is working considering it's only happening for this user, I'll see if I can detect any kind of loop going on.

Here is my log for this particular login attempt, with a lot of sensit

[2021-05-18 16:53] edwingromero commented on #273
Sorry for the delay. I managed to solve by replacing

use App\Ldap\User;  //Not

use LdapRecord\Models\ActiveDirectory\User; //Yes

To reset the password it was necessary to invoke the model from here

use LdapRecord\Models\ActiveDirectory\User;

Hopefully this will serve others

[2021-05-18 16:55] stevebauman commented on #273
Hi @edwingromero, glad you were able to resolve this.

If you use your own model, you must extend from the base `LdapRecord\Models\ActiveDirectory\User`, or add the relevant traits to your own model that are being used from the base model:

https://github.com/DirectoryTree/LdapRecord/blob/e31ba6088989969fbf93a8ea6e43a9dc281863c5/src/Models/ActiveDirectory/User.php#L14-L16

Hope this helps! 👍

[2021-05-18 17:37] edwingromero commented on #273
Great, from now on I'll use that.

[2021-05-20 16:16] ctyler69 opened #282 "Any way to access Ldap Group from the eloquent model like you can with users"
Hello @stevebauman
I was wondering is there anyway to access the ldap Group object from the eloquent model like you can with users via HasLdapUser.

[code]
I find that unbelievably convenient on the Users Model.

[2021-05-22 12:17] sotten opened #283 "[Feature] Translate error messages"
Thank you for this wonderful package.
Is it possible to make the error messages translatable in Laravel?
For example for:
https://github.com/DirectoryTree/LdapRecord/blob/e31ba6088989969fbf93a8ea6e43a9dc281863c5/src/DetectsErrors.php#L16

[2021-05-24 09:59] abublihi opened #284 "A way to disable ssl certificate validation"
I am having problem with tls/ssl connection. so is there any configuration to disable the validation of the certificate?

I have tried `TLS_REQCERT never` in `etc/ldap/ldap.conf` but not working

[2021-05-24 12:07] abublihi commented on #284
I have a workaround which is `putenv('LDAPTLS_REQCERT=never');` and that worked for me.

This is not to close the issue but we want some option to disable the validation of the certificate for example in the config file.

[2021-05-24 23:03] stevebauman commented on #283
Hi @sotten, thanks so much for your kind words! I'm glad you find LdapRecord useful 😄

In regards to your question, these error messages are from PHP's LDAP exception. To my knowledge, PHP does not throw exceptions with messages in other languages.

Can you walk me through your use-case a bit as to why you would need these messages translatable?

[2021-05-24 23:03] stevebauman commented on #275
Closing due to inactivity.

[2021-05-24 23:03] #275 closed

[2021-05-24 23:12] stevebauman commented on #284
HI @abublihi! Thank you so much for your sponsorship ❤️

Did you restart your web server after making changes to the `ldap.conf` file?

If the above procedure doesn't work for disabling certificate verification, then as you've discovered, the only way around this would be to use `putenv('LDAPTLS_REQCERT=never')`, or acquire a valid certificate and place it on your web sever.

I think you have a po

[2021-05-25 04:49] satyakresna opened #285 "[Support] Cannot get the correct data of Groups"
Hi @stevebauman, I cannot get the correct data of Groups in OpenLDAP. Here's the code

#### Model

[code]

#### Controller

[code]

#### Current Result

![not-expected-result](https://user-images.githubusercontent.com/11099186/119440812-984e3a00-bd57-11eb-8c54-92f727e32bf3.PNG)

##### Expected Result

I expect result that has `ou=groups`

![ldap-keycloak](https://user-images.githubusercontent.com/

[2021-05-25 06:48] abublihi commented on #284
Thank you for your quick response.

No I did not restart the server, after trying that it was working fine.

`disableCertificateVerification` function would be a good option.

Thank you.

[2021-05-25 15:56] SamuelWei opened #291 "deleteAttribute ErrorException"
**Environment (please complete the following information):**
 - LDAP Server Type: OpenLDAP
 - LdapRecord-Laravel Major Version: v2
 - PHP Version: 7.4

**Describe the bug:**

Trying to call deleteAttribute on a LdapRecord\Models\OpenLDAP\User object fails if parameter is a string or array

[code]

[2021-05-25 16:31] sotten commented on #283
I use LdapRecord-Laravel for authentication in Laravel with Jetstream and Livewire. There is the possibility to translate errors there. See: https://github.com/DirectoryTree/LdapRecord-Laravel/blob/master/resources/lang/en/errors.php

It would be useful from my point of view to show connection errors in local language as well, since the complete website does not use English. Many people can't read

[2021-05-26 02:40] stevebauman commented on #285
Hi @satyakresna!

It looks like you're actually looking to fetch these groups inside of the `groups` OU, not retrieve them as members of an LDAP object.

You can retrieve these by setting the base DN of your search by using the `in()` or `setDn`() method on the query builder:

[code]

If this doesn't return all of the groups inside of the OU, inspect each of the group's object classes to ensure th

[2021-05-26 02:52] stevebauman commented on #283
Hi @sotten,

I understand. In this case, you will have to handle the `LdapException` that is thrown and attempt to translate the message yourself. Since this package is standalone (i.e. makes no assumptions or requirements as to what PHP framework you use), we can't implement the capabilities of translation into the LdapRecord core.

However, you can implement this yourself quickly using Laravel's

[2021-05-26 02:53] stevebauman commented on #277
Thanks for the detailed log @Cbrad24, much appreciated! I'll take a stab at replicating this issue this weekend and see if I can come up with a fix 👍

[2021-05-26 03:09] stevebauman commented on #291
Okay I've just patched this: 443be902a44bbf58b264fe16685c5f1e78e5a9c3, 92b46a15d34736c8a28ac551b436fe3ad0ca9be0

I'm going to make a new release tomorrow morning with fresh eyes to ensure it's clean 👍 . I'll comment here once I've created the release so you're aware.

[2021-05-26 05:59] SamuelWei commented on #291
Thank you @stevebauman

[2021-05-26 21:49] sotten commented on #283
Hi @stevebauman,

Unfortunately, the solution you suggested did not work. I think there is a connection with [this issue](https://github.com/DirectoryTree/LdapRecord-Laravel/issues/196).
I did the following with [jetstream altering response](https://ldaprecord.com/docs/laravel/v2/auth/database/laravel-jetstream/#altering-the-response) and [breeze altering response](https://ldaprecord.com/docs/lara

[2021-05-27 03:31] satyakresna commented on #285
Hi @stevebauman, thanks for your support! It works great right now by update `$objectClasses` static property below:

[code]

The result like what I expected.

[2021-05-27 03:31] #285 closed

[2021-05-27 11:33] danito commented on #275
Sorry for missing your reply.
Still just taking first group, ignoring second one. I'll check how to synchronize users with scopes.
Thanks

[2021-05-27 19:09] stevebauman commented on #291
[Release has been created](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.4.7)! 🎉

[2021-05-27 19:09] #291 closed

[2021-05-27 20:13] SamuelWei commented on #291
@stevebauman I still have the issue when calling:

[code]

`ErrorException : Array to string conversion \vendor\directorytree\ldaprecord-laravel\src\Testing\Emulated\EmulatesModelQueries.php:82`

I call this function in a laravel unit test.

[2021-05-27 20:42] stevebauman commented on #291
Thanks @SamuelWei, I've just patched this in LdapRecord-Laravel -- 06244ce.

Once the tests pass I'll create a new release 👍

Let me know if it works!

[2021-05-27 20:44] stevebauman commented on #291
[Release](https://github.com/DirectoryTree/LdapRecord-Laravel/releases/tag/v2.3.2) has been created 🎉

[2021-05-27 21:00] SamuelWei commented on #291
Thank you @stevebauman . It is fixed, my tests are running again :)

[2021-05-27 21:01] stevebauman commented on #291
Awesome @SamuelWei, glad to hear it! Happy to help 😄

[2021-05-31 09:58] #284 closed

[2021-06-02 11:49] gjm opened #292 "Testing OpenLDAP models"
Is there a way to test OpenLDAP models? Reading the docs I can only see some shallow docs to test authentication attempts.

I would like to test code that looks something like this:
[code]

Is there a way to do something like this?

[2021-06-02 18:28] Spice-King opened #293 "[Bug] Logging queries outputs binary objectguid, causes SQL error with Telescope and MS SQL Server"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - LdapRecord-Laravel Major Version: v2
 - PHP Version: 8

This might be more Laravel tied, but I've traced the source of this to here when I search by GUID.
https://github.com/DirectoryTree/LdapRecord/blob/13879553fed736db3d5225662337cb99ec5662ba/src/Events/Logger.php#L110-L128

For most things, un-escaped is probably fine. However, a function

[2021-06-02 19:15] stevebauman commented on #293
Thanks for the extremely detailed issue @Spice-King! ❤️

Let's get this fixed.

I think we could leverage the event itself to handle converting the characters of the unescaped query, for example:

[code]

Though, the unescaped query should contain a hexadecimal version of an object GUID (if you're using `Model::find($stringGuid)`. Is this happening with `Model::find()`? Or is this happening with a

[2021-06-02 20:19] Spice-King commented on #293
I'm getting this by doing `Model::query()->findByGuidOrFail($stringGuid)`. (Phpstorm complains if I omit query(), since it thinks findByGuidOrFail is not static, and I'm more than happy to do it the longer way.)

`Model::find($stringGuid)` errors with `ldap_read(): Search: Invalid DN syntax`, which makes sense, since it's just a GUID and it's expecting a DN.

`HasLdapUser` from the Laravel package

[2021-06-02 20:28] stevebauman commented on #293
Ah right, my mistake -- I definitely meant `Model::findByGuid()` 😅

Are you able to see if this happens if you modify the `Logger` inside of your `vendor` directory and use `$query->getQuery()` instead of `$query->getUnescapedQuery()`?

I'm expecting it to fail, since the escaped query will contain hex. Let me know!

[2021-06-02 21:39] Spice-King commented on #293
Worked fine! Did dump out everything like `(objectclass=\74\6f\70)(objectclass=\70\65\72\73\6f\6e)(objectclass=\6f\72\67\61\6e\69\7a\61\74\69\6f\6e\61\6c\70\65\72\73\6f\6e)(objectclass=\75\73\65\72)objectclass=\63\6f\6d\70\75\74\65\72)` as apossed to `(objectclass=top)(objectclass=person)(objectclass=organizationalperson)(objectclass=user)`. No binary output, debugbar happy, and Telescope logging

[2021-06-04 13:26] stevebauman commented on #293
Oh strange! Okay, well that's good that it works, since we can use that as worst case.

Do you know if it's possible to easily escape those binary sequences? I'd like to try and mantain the ability to see the raw unescaped query, so it's easier to debug for developers.

[2021-06-04 14:37] Spice-King commented on #293
Going off this [ASCII chart](http://en.cppreference.com/w/cpp/language/ascii) 32 to 126 are safe to print. Excluding the backslash (92) and possibly space (32) too and allowing the rest in the range would create an unambitious escape with allowing almost all of the normal characters through. Most web devs, or experienced web users even, should recognize `0x20` as space from URL encoding, so that s

[2021-06-04 16:54] murrant opened #294 "[Bug] When using Jetstream with Teams, default team is not created."
**Environment (please complete the following information):**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 8.0.6

**Describe the bug:**
When using Fortify to authenticate with LdapRecord, the initial user creation does not create the default team "[User]'s Team".  It is assumed this team is created so you get errors because the user has no team.

[2021-06-04 17:06] mgiritli opened #295 "[Bug] Auth::user()->ldap object has attributes which are supposed to be "hidden" when using Laravel"
**Environment (please complete the following information):**
 - LDAP Server Type: OpenLDAP
 - PHP Version: 7.4

In my user model I got:

[code]

So I expect not to see those attributes when I pull the users entry from LDAP server. However, it seems that hidden property has no effect when I get the user object through Auth::user()->ldap in Laravel. I still get the attributes userPassword and sshpub

[2021-06-04 17:08] stevebauman commented on #294
Hi @murrant!

This isn't actually a bug with LdapRecord-Laravel -- this is because Laravel Jetstream assumes the creation of new users will occur through it's interface, which executes the `CreateNewUser` action that is published into the app folder, thereby creating the default team if it does not exist:

https://github.com/laravel/jetstream/blob/2.x/stubs/app/Actions/Fortify/CreateNewUserWithTea

[2021-06-04 17:08] #294 closed

[2021-06-04 17:12] stevebauman commented on #295
Hi @mgiritli, as such with Laravel's Eloquent, the `$hidden` property only omits the defined properties from being included in results when `json_encode`'ed.

For example:

[code]

This is described in the documentation: https://ldaprecord.com/docs/core/v2/models/#serialization

Hope this helps! 👍

[2021-06-04 17:12] #295 closed

[2021-06-04 17:16] stevebauman commented on #292
Hi @gjm,

To perform identity checks against models, you can use the `is()` method:

[code]

The `is()` method checks that the users distinguished name and connection name are identical (compared strictly).

Does this answer your question?

[2021-06-05 02:15] #293 closed

[2021-06-05 02:20] stevebauman commented on #293
Thanks @Spice-King! I've decided to do the easiest fix -- by simply only logging the escaped query. This will allow devs to copy-and-paste the filter in their own LDAP browser to debug, without having to splice out the GUID.

I played with manually escaping GUIDs in the filter, but it printed characters that broke the filter (included brackets, for example).

I've just released [v2.4.8](https://gi

[2021-06-05 17:10] gjm commented on #292
@stevebauman sorry I probably didn't make myself clear. I want to fake the connections. I want to be able to test it out without actually connecting to the server. I thought that was implied.

[2021-06-09 03:04] stevebauman opened #297 "[Feature] Implement chunking relationship queries"
[code]

[2021-06-09 03:09] #297 closed

[2021-06-18 00:22] Guillermocen opened #302 "Instalation issue"
I am trying to install ldap record in a project and it shows me the following error during installation:

![image](https://user-images.githubusercontent.com/22781509/122487363-1d202280-cfa9-11eb-98b8-858496cf1f10.png)

how can i solve it please
php v 7.4.7
laravel v 8.40
php ldap extension enabled

[2021-06-18 00:24] stevebauman commented on #302
Hi @Guillermocen,

It looks like you’re upgrading from Adldap2 — is that correct? Make sure you delete the Adldap2 configuration file and then publish the LdapRecord config file.

[2021-06-18 00:39] Guillermocen commented on #302
yes, I just uninstalled ldap2 and installed ldap record and there was no problem, thanks for the attention

[2021-06-18 00:39] #302 closed

[2021-06-18 11:33] mazacmartin opened #303 "[Support] UAC - passwordCannotBeChanged - Not working"
**Environment:**
 - LDAP Server Type: MS ActiveDirectory
 - PHP Version: 7.3.22

**Describe the bug:**

the function to set the attribute for the user account "cannot change password" does not work, here is a code sample

[code]

this function works because when it triggers this:

[code]
is applied

here is a picture of exactly what happens to me after running the function:

![image](https://user-

[2021-06-23 11:28] Mateusz2598 commented on #303
You need to use security connection with your ldap server. In non-security connection password change is not possible.

https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-adts/6e803168-f140-4d23-b2d3-c3a8ab5917d2?redirectedfrom=MSDN

[2021-06-24 02:24] stevebauman opened #306 "Refactor `Container` and remove static methods"
The `Container` class should only have the `getInstance()` static method. All other methods should be called dynamically via `__callStatic`.

[2021-06-24 06:22] rognales opened #308 "[Bug] Option [port,timeout] must be an integer"
**Environment (please complete the following information):**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 7.4.8
 - Laravel Version:  8

Just bump this base package just now and received below error. ````php artisan ldap:test```` also no longer works

[code]

In summary, any defaults config that is integer, will failed this validation since .env is normally parsed as string

https://github.

[2021-06-24 06:27] rognales commented on #308
This is my config

[code]

[2021-06-24 06:30] rognales commented on #308
I did logging the value passed to the Configurator

[code]

[2021-06-24 06:47] milanchheda-cactus commented on #308
I am setting this up on a fresh Laravel and getting the exact same error.

`Option [port] must be an integer.`

[2021-06-24 07:29] rognales commented on #308
[Environment variable type](https://laravel.com/docs/8.x/configuration#environment-variable-types)

[2021-06-24 08:33] milanchheda-cactus commented on #308
Found a work-around here: https://github.com/DirectoryTree/LdapRecord-Laravel/issues/308#issuecomment-867424525

[2021-06-24 09:56] MartinHughes-BPC opened #309 "Add models for Micro Focus (formerly Novell) eDirectory"
Hi Steve,

Firstly many, many thanks for LdapRecord and its Laravel sibling. I've been using both (1.x versions - stuck on PHP 7.2.5 and Laravel 7 at the moment) against an Active Directory for over a year now and it's been so easy to get things up and running.

To cut a long story short - my IT department informs me that I should, however, be using the eDirectory for all my LDAP searches/authenti

[2021-06-24 11:29] stevebauman commented on #308
Sorry about that everyone! I just patched this in [v2.5.2](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.5.2). I added a test to make sure this doesn't happen again.

[2021-06-24 11:29] #308 closed

[2021-06-24 11:52] stevebauman commented on #309
Hi @MartinHughes-BPC,

Thanks so much for your kind words! I'm glad you've found LdapRecord useful 😄

I'd be happy to add any LDAP directory support into LdapRecord. If you submit a PR with models that work for you using Micro Focus eDirectory, I'd accept it 👍

The more out-of-the-box support LdapRecord can provide, the better!

[2021-06-25 18:54] mazacmartin commented on #303
Thanks for the feedback.
I don't try to change the password (yes I know that I need a securyty connection to the ldap SSL/TLS server to work with the password).
I'm having a problem with the property/checkbox "User cannot change password" as is visible on screen.

[2021-06-25 20:21] stevebauman commented on #303
Hi @mazacmartin,

What happens when you attempt to save the user? Do you receive an exception? Or the UAC value you set is simply ignored by your AD server?

[2021-06-26 08:28] mazacmartin commented on #303
Hi @stevebauman

as I wrote in the assignment I will use this code where this is done and this is not done no error nothing

[code]

thank you for your interest and if I can supply some logs please info how to get them because my apache or php log on this topic is silent

[2021-07-01 07:18] wmmarcus opened #311 "[Bug] Query whereEndsWith seems to be incompatible with distinguishedname"
**Environment (please complete the following information):**
 - LDAP Server Type: [Active Directory]
 - PHP Version: [7.3.28]

**Describe the bug:**
Trying to make the distinguishedname field part of a simple text query. For test user they have the attribute:
`"distinguishedname":["CN=Rick Edwards,OU=Users,OU=PWDApp,DC=acmelabs,DC=local"]`

However the code:
[code]

Returns only empty brackets.
`[

[2021-07-02 12:28] stevebauman commented on #311
Hi @wmmarcus,

LDAP directories cannot be filtered by object's distinguished name (with the caveat of object relationship attributes that contain distinguished names, such as `manager`, `member` and `memberof`).

You must instead perform a search with the root set in the distinguished name you're looking to query:

[code]

Hope this helps!

[2021-07-02 12:28] #311 closed

[2021-07-06 02:17] MajoP27 opened #312 "Ldap laravel with Active Directory"
Hola estoy implementando tu tutorial pero no logro conectarme, no me da ningún error al ingresar las credenciales, en consola solo veo un error 302 Not found. Por favor tu ayuda estoy trabajando con laravel 8 y sql server 2019.

[2021-07-09 23:15] #306 closed

[2021-07-10 16:51] stevebauman commented on #312
Hi @MajoP27,

I'm sorry, but due to my own time restrictions, I can now only support users who have sponsored me on GitHub. I've updated the [readme](https://github.com/DirectoryTree/LdapRecord-Laravel/blob/master/readme.md) to reflect this change:

If you require support using LdapRecord-Laravel, a sponsorship is required 🙏

Thank you for your understanding :heart:

[2021-07-10 16:51] #312 closed

[2021-07-11 11:34] moufakkir-zohair opened #314 "[Question] using Ldap with docker"
hello, first of all i would like to thank for this amazing package,
i am trying to test this package with ldap.forumsys.com server and docker and it works fine, but when i change settings to my own server the binding does not match, i try to create a new project with composer and i change the server settings and works fine, my question is why is it not working by docker?

[2021-07-12 04:36] BARNZ opened #315 "[Bug] Pagination doesnt appear to be working correctly for result sets above 1000"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: PHP 7.4.10

After updating this library to latest (`v2.5.3`) from the version we were previously on: `v1.12.6`, I've run into a weird bug with `paginate` on a large result set of users in our AD (2100+). The code below illustrates the problem:

Example code:
[code]

On `v1.12.6` this prints 2136 as expected, but on the latest ve

[2021-07-12 13:06] stevebauman commented on #315
Hi @BARNZ,

Can you downgrade to `v2.4.*` and see if you still have the same issue?

[2021-07-12 16:46] stevebauman commented on #314
Hi @moufakkir-zohair,

- What happens in your docker container?
- What code are you executing that fails?
- Do any exceptions appear?
- What do your application's `storage/logs` show?
- What major version of LdapRecord are you using?
- Are you using Laravel, or another framework?

[2021-07-12 16:47] stevebauman commented on #309
Closing due to inactivity.

[2021-07-12 16:47] #309 closed

[2021-07-12 17:03] BARNZ commented on #315
Hi @stevebauman

Have tried downgrading to `v2.4.8` and its working as expected - 2136 results

Have also tried a bunch of versions following that:

- `v2.5.0` works fine
- `v2.5.1` onwards triggers the problem

[2021-07-12 17:09] stevebauman commented on #315
Thanks for the quick reply @BARNZ!

Are you sure you positive your environment is running PHP 7.4 and not < PHP 7.3? [This change](https://github.com/DirectoryTree/LdapRecord/commit/6c9e8a1275165a3da46bdf20f1015310098a968e) would have affected this, if your composer installation is pointed to a higher version of PHP than your actual web server.

Try pasting this into your `routes/web.php` and then

[2021-07-12 17:14] BARNZ commented on #315
Yep definitely 7.4

![image](https://user-images.githubusercontent.com/2202345/125328569-976d7800-e398-11eb-8db2-24fb5f72a36f.png)

[2021-07-12 17:16] stevebauman commented on #315
That's still running in console though. You will have to let your web server handle the request to display its version.

[2021-07-12 17:19] BARNZ commented on #315
I'm only working via the cli for this stuff. Regardless here's the same output dumped in my browser via the webserver:

![image](https://user-images.githubusercontent.com/2202345/125329595-cb956880-e399-11eb-9a16-31ab4d8cc765.png)

Can confirm there is no other version of php installed on this machine.

Cheers

[2021-07-12 17:34] stevebauman commented on #315
Can you `composer require` the `dev-master` branch and try again? I've just pushed a commit to see if it's possibly the empty server controls being included in the search request.

[2021-07-12 17:37] BARNZ commented on #315
Yep that looks like it worked - got 2134 results instead of the 1000

![image](https://user-images.githubusercontent.com/2202345/125331632-59725300-e39c-11eb-8b96-6eeed43306ea.png)

[2021-07-12 17:39] stevebauman commented on #315
Ok perfect, thanks for working through this with me @BARNZ!

I'll create a new release with this patch included in just a moment 👍

[2021-07-12 17:41] BARNZ commented on #315
Awesome thanks very much @stevebauman!

[2021-07-12 17:45] stevebauman commented on #315
Happy to help @BARNZ! Okay, I've just released [v2.5.4](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.5.4) with this patch included 👍  You're all set!

[2021-07-12 17:45] #315 closed

[2021-07-19 07:06] karstennilsen opened #319 "[Bug] groups()->recursive()->get() results in endless loop when you have LDAP groups member of each other"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - LdapRecord-Laravel Major Version: 2.3.3
 - PHP Version: 7.4

Group A members:
 - User
 - Group B

Group B members:
 - Group A

When you do Auth::user()->ldap->groups()->recursive()->get(), it results in an endless loop.
Active directory groups member of each other is uncommon but supported.

[2021-07-25 19:43] #319 closed

[2021-07-25 19:44] stevebauman commented on #319
Thanks for the report @karstennilsen! I've just patched this. A new release will be out today with this fix included 👍

[2021-07-25 19:44] stevebauman commented on #314
Closing due to inactivity.

[2021-07-25 19:44] #314 closed

[2021-07-25 19:51] #292 closed

[2021-07-25 19:57] stevebauman commented on #235
Closing due to inactivity.

[2021-07-25 19:57] #235 closed

[2021-07-25 19:58] stevebauman commented on #277
I believe this has been reported and resolved in https://github.com/DirectoryTree/LdapRecord/issues/319.

[2021-07-25 19:58] #277 closed

[2021-08-10 19:50] stevebauman opened #324 "[Feature] Replace remaining internal query operation calls with `chunk()`"
Deleting nodes recursively currently uses `paginate()`. Internal query operations like these should now use `chunk()` to prevent out-of-memory exceptions from occurring.

[2021-08-16 15:32] moufakkir-zohair commented on #314
Environment :

- php : version 8.0
- laravel sail : version 8
- docker
- Debian

Problem :

1. I installed the package with this command : **./vendor/bin/sail composer require directorytree/ldaprecord-laravel**

2. Then i published the ldap.php config file via artisan publish command: **./vendor/bin/sail php artisan vendor:publish --provider="LdapRecord\Laravel\LdapServiceProvider"**

3. and i pas

[2021-08-18 13:04] moufakkir-zohair opened #325 "ldap with laravel sail and docker"
**Environment:**

 - LDAP Server Type: ActiveDirectory

- php : version 8.0

- laravel sail : version 8

- docker

- Debian

Problem :

I installed the package with this command : ./vendor/bin/sail composer require directorytree/ldaprecord-laravel

Then i published the ldap.php config file via artisan publish command: ./vendor/bin/sail php artisan vendor:publish --provider="LdapRecord\Laravel\Ldap

[2021-08-18 22:39] vascocarreira commented on #303
Hi, all.

I'm having an issue with UAC and it may be related to this one.

After creating a user, I try to set the account as normal but it returns the following error:
**ldap_modify_batch(): Batch Modify: Type or value exists**

This happens in version 2.4.0, but the same code works in version 1.7.6.

Is there any change in version 2.4 and I need to adapt my code or is this an issue of the packag

[2021-08-18 22:51] stevebauman commented on #303
Hi @vascocarreira,

Please create a new issue and post the entire code you have written which causes the exception.

[2021-08-23 05:54] danatela opened #326 "Need help in making authentication with ActiveDirectory server"
I am trying to make authentication with ActiveDirectory using ldaprecord-laravel. I followed the documentation and made required changes in files. However, I ended up with only `php artisan ldap:test` working and `php artisan ldap:import ldap` showing that there are no users to import.

When I use [online LDAP test server](https://www.forumsys.com/tutorials/integration-how-to/ldap/online-ldap-test

[2021-08-23 17:17] #326 closed

[2021-08-25 17:06] stevebauman opened #329 "[Feature] Replace `tightenco/collect` with `illuminate/collection`"
https://github.com/DirectoryTree/LdapRecord/pull/328

[2021-08-26 06:35] danatela opened #330 "Authenticate using only one credentials"
As far as I could figure it out, the authentication is done using two credentials: one for initial bind and search for the second which are provided in login form. And if the first credentials are not given, you cannot search and authenticate second. I consider such scheme somewhat redundant. One should maintain a special read-only account on his Directory Server to prevent password stealing.

Is

[2021-09-10 03:54] stevebauman commented on #330
Closing due to inactivity.

[2021-09-10 03:54] #330 closed

[2021-09-11 03:17] #324 closed

[2021-09-13 10:17] drifter104 opened #333 "Searching for all objects in an OU"
I'm attempting to return all objects in an OU but seem to be hitting a wall.

First I tried the following and this returned the expected object

[code]

Then I tried; but this returned no results, I expected the same result as above at this point.

[code]

I had assumed the following could return all objects in the OU

[code]

I'm assuming "whereContains" can be used to search within distinguished

[2021-09-13 17:11] stevebauman commented on #333
Hi @drifter104,

LDAP does not support querying object distinguished names.

To get all of the objects inside of an OU, set the DN of the query equal to the OU's DN (using either the `in()` or `setDn()` query builder method), and then call `get()`:

[code]

Let me know if you still have issues and I'll re-open this. 👍

[2021-09-13 17:11] #333 closed

[2021-09-21 06:16] hammerslammer opened #339 "[Bug] $stayBound parameter in attempt-function of Guard-class should be reanemd to $doNotStayBound"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 7.4

**Describe the bug:**
$stayBound is not implemented correctly. The not-operator in line 83 should has to be deleted or the parameter has to be renamed. Also the documentation does not match with the implementation

[2021-09-21 11:22] drifter104 commented on #333
Hi @stevebauman

I've changed my code a little. I'm basically trying to check to see what groups in a particular OU as user is a member of.

This returns the objects I wanted but I always get "domain users" returned and it definitely isn't in the OU that I'm requesting.

`		$groups = $username->groups()->in('OU=Manager,OU=Applications,OU=Security Groups,OU=CWP Security Groups,DC=example,DC=com')->

[2021-09-30 14:33] stevebauman opened #340 "[Feature] Possibly refactor usage of LDAP methods to use PHP safe package methods"
**Describe the feature you'd like:**
LdapRecord currently handles each LDAP method differently when it returns `false` from an operation.

The PHP [Safe](https://github.com/thecodingmachine/safe) package automatically throws exceptions from operations that would otherwise return `false`.

This could clean up some error checking code and make LdapRecord easier to understand.

[2021-10-11 11:19] jredepenning opened #343 "Problem installing on Sail 8.0"
Hi there. When I try to install LdapRecord on a freshly installed Sail 8.0 installation using

`composer require directorytree/ldaprecord-laravel`

I get the following response:

[code]

I have it up and running on an older Sail 8.0 version - but don't seem to remember HOW I did this.

Thank you & best regards,

Jan

[2021-10-11 14:19] jredepenning commented on #343
Yep - worked! THANK YOU VERY MUCH! :-)

[2021-10-19 15:22] jamenlang opened #349 "Bitlocker Recovery Information"
I'm not sure this is within the scope of LdapRecord or ADLdap2, I'm using the latter, I can get computer attributes but not seeing the stuff listed in ADSI Edit, which I'm not completely surprised by. Is there any way to query the msFVE-RecoveryInformation class or is that beyond the capabilities that these classes can provide?

[2021-11-03 01:45] stevebauman commented on #349
Closing due to inactivity.

[2021-11-03 01:45] #349 closed

[2021-11-03 14:26] stevebauman opened #352 "[Bug] Improve model connection documentation"
https://github.com/DirectoryTree/LdapRecord/discussions/351

[2021-11-05 12:02] joeknex opened #353 "[Bug] User Must Change Password at Next Logon"
Environment:

I'm having problems forcing "User Must Change Password at Next Logon"

I can remove the tick:
$user->update(['pwdlastset' => -1]);

But can't put the tick in:
$user->update(['pwdlastset' => 0]);

Can this be confirmed to be working in ActiveDirectory?

[2021-11-05 12:34] stevebauman commented on #353
Hi @joeknex, do you receive an exception when you attempt to update the user with:

[code]

Yes: https://docs.microsoft.com/en-us/windows/win32/adsi/user-must-change-password-at-next-logon

[2021-11-05 16:54] joeknex commented on #353
Hello @stevebauman I've fixed the problem, but is this still correct?

It does not set if you call "Resetting Passwords":
$user->unicodepwd = 'new-password';

Before:
$user->update(['pwdlastset' => 0]);

[2021-11-09 09:54] dfun90 opened #354 "[Bug] Unable to create a new Organizational Unit inside another Organizational Unit"
**Environment:**
 - LDAP Server Type: ActiveDirectory (Windows Server 2019)
 - PHP Version: 7.4
 - LdapRecord Version: 2.8

**What I'm trying to do and expect to happen:**
I'm trying to programmatically create multiple Organizational Units (=OU) inside another OU. For this I pass an array of Organizational Units,  e.g. `['Bottle', 'Sparkling', 'Water']`.
This now would create the OU `Bottle` on th

[2021-11-09 14:14] stevebauman commented on #353
Hi @joeknex, I'm not sure I understand correctly -- are you saying you were able to toggle it by resetting the users password?

[2021-11-09 14:22] stevebauman commented on #354
Hi @dfun90! Thanks for the super detailed report of your issue, I really appreciate it! I'm happy to help you get this up and running. Let's make sure this isn't a bug in LdapRecord.

Could you try making each nested OU in the same request manually to see if it works? For example, try:

[code]

If you don't receive any exceptions and the hierarchy is properly created, then we can go from there and

[2021-11-10 12:43] dfun90 commented on #354
Hey!

I just tried creating nested OUs manually as by your example. The code didn't throw any exceptions.
But, just as I expected, the hierarchy was **NOT** correct, all of the three OUs once again where created in the root of the AD.

Following I put 2 attempts and their result (as JSON):
[code]
So, well... looks like it might be a bug after all. ;)

[2021-11-10 13:14] stevebauman commented on #354
Ah hang on -- I think I know the issue. Can you set the DN manually instead? Example:

[code]

[2021-11-10 13:17] stevebauman commented on #354
This is definitely a bug -- as setting the `distinguishedname` or `dn` attribute does not set the models DN property, which is used for creation. For example:

[code]

[2021-11-12 11:01] dfun90 commented on #354
Thanks for the quick bugfix!
I've tried it out, using the bugfix in the repo, and it now works properly. (And so does my function that creates nested OUs)

[2021-11-12 11:01] #354 closed

[2021-11-21 12:29] devyodamaster opened #357 "Checking if user account is lock out - do not work"
**Environment:**
 - LDAP Server Type:
 ActiveDirectory
 - PHP Version:
7.4.12

**Describe the bug:**
Hi,
I thing I found and issue and want to know if that has something with my dev environment
Every time I am checking user:
[code]
I am always getting user not locked.

I have checked array returned from $uac, and it looks like it is not flaged taht user is locked:
[code]
Of course on AD and powers

[2021-11-23 18:01] stevebauman commented on #357
Hi @devyodamaster,

The `lockouttime` attribute is added by default as a [date cast](https://ldaprecord.com/docs/core/v2/model-mutators/#date-mutators) in the `User` model:

https://github.com/DirectoryTree/LdapRecord/blob/2bf6e48a426264c5611e5ecab58d0f79e0429518/src/Models/ActiveDirectory/User.php#L54

So you should be able to do this:

[code]

Can you give that a shot?

[2021-11-25 15:30] devyodamaster commented on #357
Thank you for your comment,
unfortunately still no joy.
Test 1
[code]
result
[code]

Test 2
[code]
result
[code]

Test 3
[code]
result
[code]

I have checked that user using powershell and on AD, and it is locked.
I am very happy to try any advice to sort this out.

[2021-11-29 08:51] nohnaimer opened #359 "[Support] Support php 8.1"
**Environment:**
 - LDAP Server Type: ActiveDirectory and OpenLDAP
 - PHP Version: 8.1

Hi,
When can you add support php 8.1? Can't update my project due to errors LdapRecord:
<img width="1462" alt="Снимок экрана 2021-11-29 в 11 54 11" src="https://user-images.githubusercontent.com/8865830/143836965-625753d2-5a89-484d-9de4-aa940459d63b.png">
Thank you.

[2021-11-29 14:02] stevebauman commented on #359
Thanks for the report @nohnaimer! I'll have a patch out today 👍

[2021-11-29 14:08] stevebauman commented on #357
Hi @devyodamaster, what is your Active Directory's `LockoutDuration` set to in minutes?

I forgot that I added a method on the `User` model to assist with this:

https://github.com/DirectoryTree/LdapRecord/blob/2bf6e48a426264c5611e5ecab58d0f79e0429518/src/Models/ActiveDirectory/User.php#L145-L158

[code]

[2021-11-30 14:06] #359 closed

[2021-11-30 14:35] DeffiDeffi opened #363 "[Bug] Deprecation warning thrown by LdapServiceProvider on PHP8.1"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 8.1

**Describe the bug**:
Thank you for providing PHP 8.1 support in 2.9.0 -- unfortunately, I still get a deprecation warning thrown by the LdapServiceProvider on each request:
`explode(): Passing null to parameter #2 ($string) of type string is deprecated in /var/www/html/vendor/directorytree/ldaprecord-laravel/src/LdapServic

[2021-11-30 17:57] nohnaimer commented on #359
Not working...
<img width="1792" alt="Снимок экрана 2021-11-30 в 20 55 52" src="https://user-images.githubusercontent.com/8865830/144101754-00e6bc02-9c1e-4b60-b006-48ba8430dfee.png">
Need update tightenco/collect...

[2021-11-30 18:11] stevebauman commented on #359
Ah okay -- it appears it's being worked on:

https://github.com/tighten/collect/issues/261

[2021-11-30 18:46] mattstauffer commented on #359
@stevebauman @nohnaimer Fixed on the Collect side. Thanks for your patience!

[2021-11-30 18:48] stevebauman commented on #359
Awesome, thanks @mattstauffer! 😄

[2021-12-03 14:08] ESPHayden opened #365 "Dynamic LDAPS certificates"
So I have some LDAP stuff going on with LdapRecord and Laravel, and I need to enable users to deploy their own TLS/SSL certs for encrypted LDAP access for their organization, for a multi-tenant SSO solution without OIDC. How can I do this so that we store the public key in our database and then it can switch which key is in use based on context? As far as I'm aware, the `LDAP_OPT_X_TLS_*` variable

[2021-12-04 15:25] nohnaimer commented on #359
@stevebauman hi,
collect fixed - updating your Collect dependency to 8.68.0 or higher...
Thank you.

[2021-12-06 15:03] danielcorrea opened #366 "[Support]"
Unfortunately, I work for a public agency that does not provide funding for sponsorship. So I can't get support to implement your software in our academic environment. Thank you anyway, thanks for your work.

[2021-12-06 15:08] stevebauman commented on #366
Hi @danielcorrea, no worries, thanks for your kind words 😄 ! I'm glad you've found my work useful ❤️

[2021-12-07 16:58] gennaro995 opened #367 "[Support]"
**Environment:**
 - LDAP Server Type: [ActiveDirectory]
 - PHP Version: [7.4.22]
 - LdapRecord Version: v2.5.0

Hi, first of all thanks for this wonderful package!
But i'm having some troubles with filther in search phase after the binding:
Let me explain better, i set-up all the files as Follow:

*in auth.php

 'users' => [
            'driver' => 'ldap',
            'model' => LdapRecord\Models\

[2021-12-07 17:42] stevebauman commented on #367
Hi there @gennaro995, could you please format your code examples and logs so they are easier to read and then I can help you tackle this issue?

[2021-12-07 17:42] #366 closed

[2021-12-07 17:46] stevebauman commented on #365
Hi there @ESPHayden. This is a great question, I'll do my best to help you with this.

What about using a temporary file for the duration of the users request? For example, using `php://memory` or `php://temp` to use a file read-write stream. Since each user request will all have their own instance of PHP running, I think you may be able to do this and point the `LDAP_OPT_X_TLS_*` options to the m

[2021-12-09 14:10] stevebauman commented on #367
No worries @gennaro995.  Are you sure you're connecting to an ActiveDirectory server? `o=netscaperoot` inside of the DN you're binding with would have me think otherwise which is why the filter would be returning no results. Can you confirm that with me?

[2021-12-09 14:11] stevebauman commented on #353
Closing due to inactivity.

[2021-12-09 14:11] #353 closed

[2021-12-09 14:11] stevebauman commented on #357
Closing due to inactivity.

[2021-12-09 14:11] #357 closed

[2021-12-09 15:03] gennaro995 commented on #367
Sorry, I edited the post, but we are using an openldap server witch add some new extra objectClass to default LDAP objectClasses.

[code]

and ours base_dn is config as follow below in ldap.php:

`   'base_dn' => env('dc=icmt,dc=infra,dc=itaca,dc=local'),`

[2021-12-09 16:36] stevebauman commented on #367
Did you insert all of this code into your Eloquent model? If so, this won't work. These models are completely independent and don't relate to each other. If you need to adjust the built-in LdapRecord models, you must extend them and then update your `auth.php` config:

[code]

[code]

[2021-12-09 16:38] stevebauman commented on #367
Also can you explain this further:

What exactly is incorrect about the filter? Have you tested this filter on your LDAP server manually to ensure it returns the proper results?

[2021-12-10 06:23] leenooks commented on #207
Steve, sorry, its been a long time before I've had a chance to come back to this - you know life keeps us occupied :(

Thank you for this - it works well.

Just for folks who are using larval and want to use this - you just need to add this to your `AppServiceProvider::register()` method:

[code]

🙇‍♂️

[2021-12-10 10:59] villfa opened #369 "[Bug] is_resource() always returns false with PHP 8.1"
**Environment:**
 - LDAP Server Type: n/a
 - PHP Version: 8.1

From the [PHP 8.1 migration guide](https://www.php.net/manual/en/migration81.incompatible.php#migration81.incompatible.resource2object):

    The LDAP functions now accept and return LDAP\Connection objects instead of ldap link resources.
    The LDAP functions now accept and return LDAP\Result objects instead of ldap result resources.

[2021-12-10 11:05] gennaro995 commented on #367
I tried to fix as you suggested but seems not working.

[2021-12-10 11:10] gennaro995 commented on #367
Yes, if i try to search user using same filter but from bash, using command php artisan ldap browse it works.
I want also to tell that i'm using LdapRecord with Laravel Jetstream.

[2021-12-13 13:59] stevebauman commented on #369
Hey @villfa, I agree with option 2 👍 , I'll have a patch out shortly. Thanks for the detailed issue!

[2021-12-13 14:08] #369 closed

[2021-12-13 16:18] joaojoyce opened #373 "Anyone has experience with Pass-through in Apache/Linux?"
Hi,

Just created an app that uses LDAP record. It's great!
I would like to implement an auto-login feature for users that are in the corporate network.

In the documentation I can see that this should be possible. But I also see the following disclaimer:
https://ldaprecord.com/docs/laravel/v2/auth/sso

`However, this feature assumes that you have enabled Windows Authentication in IIS, or have ena

[2021-12-14 01:08] stevebauman commented on #365
Closing due to inactivity.

[2021-12-14 01:08] #365 closed

[2021-12-17 15:24] justageek opened #374 "Apologies for the sponsorship"
Steve, I am no longer with my previous employer, and they had sponsored you for this project, I guess they cancelled the credit card they used as the payment is failing, I apologize as I'm unable to sponsor you at this time.  I will reach out to a previous co-worker and see what I can find out.

[2021-12-17 21:00] stevebauman commented on #374
Oh no worries 😄, thank you for your continued support! It is much appreciated!

[2021-12-21 11:32] gennaro995 commented on #367
@stevebauman  any idea?

[2021-12-22 16:21] testlorenzospa opened #375 "[Support]"
**Environment:**
 - LDAP Server Type: LdapRecord
 - PHP Version: 7.4

Hello.

With ADLDAP2, I can find a user with the below code
$provider->search()->users()->find("XXX");

and then I can get the DN with the function
getDn();

With LdapRecord, how I can find a user to get the DN?
I have try with
$connection->query()->where("CN","=", "XXX")->get();

but this return an array.

Can you have an exemp

[2021-12-22 16:25] stevebauman commented on #375
Hi @testlorenzospa,

LdapRecord uses an Active Record style syntax, meaning you have to execute queries on [models](https://ldaprecord.com/docs/core/v2/models) themselves.

I'm not sure which LDAP server you're connecting to (you inserted `LdapRecord` as the server type), but if you're connecting to an Active Directory server, then you can use the `ActiveDirectory\User` model:

[code]

Hope this h

[2021-12-22 16:25] #375 closed

[2021-12-22 16:30] testlorenzospa commented on #375
Hi @stevebauman.

Thanks for this reply.

I'll try your suggestion.

Thanks again.

[2021-12-22 16:31] stevebauman commented on #375
Happy to help @testlorenzospa, let me know if you need any further assistance 👍

[2021-12-23 14:31] testlorenzospa opened #376 "[Support] Getting members of a group"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 7.4

Hello.

I call the method
$group = Group::where("cn","=","XXX");

to retrive a specific group.
Following the documentation, then I call
 $group->members()->get()

to get the members but I have the below error

Fatal error: Uncaught BadMethodCallException: Call to undefined method LdapRecord\Query\Model\ActiveDirectoryBuilde

[2021-12-23 14:33] stevebauman commented on #376
Hi @testlorenzospa,

You have to call `first()` to retrieve the first result after adding a where clause with the LdapRecord query builder:

[code]

https://ldaprecord.com/docs/core/v2/models/#retrieving-models

[2021-12-23 14:33] #376 closed

[2021-12-23 14:36] testlorenzospa commented on #376
Hello @stevebauman.

Thanks.

It is works.

Thanks again.

[2021-12-23 16:04] testlorenzospa opened #377 "[Support] Schema"
**Environment:**
 - LDAP Server Type: ActiveDirectory / OpenLDAP
 - PHP Version: 7.4

Hello.

In Adldap2, if I pass the schema in the configuration settings I can get the right attribute for a user (e.g. uid instead userprincipalname).

With LdapRecord, how I can get the right attribute (uid instead the userprincipalname) if the scheme of a LDAP server is OpenLDAP?

Thanks.

[2021-12-29 21:15] stevebauman opened #379 "Use `ldap_bind_ext()` instead of `ldap_bind()` to retrieve LdapResult for further parsing"
### Discussed in https://github.com/DirectoryTree/LdapRecord/discussions/378

<div type='discussions-op-text'>

<sup>Originally posted by **pafernandez-oesia** December 29, 2021</sup>
Hi!

Is there any way to check if the server has returned a control? I have to check for **LDAPPasswordExpiringControl** presence and I can't find any reference in the API docs. What I'm trying to do is the same as d

[2021-12-29 21:17] stevebauman commented on #377
Hi @testlorenzospa,

To get a users `uid`, you access it directly off the model instead of using a method. For example:

[code]

Hope this helps! Let me know if you have any further questions 👍

[2021-12-29 21:17] #377 closed

[2021-12-29 21:18] #374 closed

[2021-12-31 09:28] testlorenzospa commented on #377
Hi @stevebauman.

Sorry for the late of this response.

Thanks.
Now it is clear.

Thanks again.

[2022-01-10 08:19] jberol opened #380 "[Support] Query is really slow"
Hello, I need get all users and show them into datatables but the query is too much slow. How I can resolve it? I used chunk, pagination methods.

Thanks

**Environment:**
 - LDAP Server Type:  ActiveDirectory
 - PHP Version: 8.0.9

[2022-01-10 10:58] hbjydev commented on #365
Hi Steve, sorry, same person, different account

It looks like notifications to my work Github account are broken right now, haha

That sounds like a good idea to me, I think I'll give that a go and just try and load them into memory.

[2022-01-10 13:42] stevebauman commented on #380
HI @jberol,

How many users are you trying to render? You will likely have quicker queries by selecting only the attributes you're looking to display (not sure if you've tried this yet):

[code]

[2022-01-10 14:07] stevebauman commented on #365
No problem @hbjydev! Ok sounds good! Let me know if you have any other questions and I'd be happy to help 😄

[2022-01-10 14:30] jberol commented on #380
Hi, I'm trying to render 2500 users. I've test with your code and it doesn't work. I think the problem is because I'm trying get all users from "All users from domain".  Any suggestion?

Also I tested with get a group and then use member method, but it isn't work because the limit are 1000 users.

[2022-01-10 15:26] jberol commented on #380
Yes, my exception is:

 Allowed memory size of 1077936128 bytes exhausted (tried to allocate 304735936 bytes)

The code used:

        try {
            Container::addConnection($connection);

            $connection->connect();

            $group = Group::find('CN=Usuarios del dominio,CN=Users,DC=x,DC=x');
            $members = $group->members()->paginate();
            debug($members);

[2022-01-17 06:34] AbdulHK opened #383 "The LDAP connection [XXXX] does not exist"
I am getting the following error when trying to display any page which utilize Eloquent relationships on the User Model,
"The LDAP connection [XXX] does not exist"

below is my auth file and provider configuration, here my current config/auth file.

    'providers' => [
        // ...

        'users' => [
            'driver' => 'ldap',
            'model' => LdapRecord\Models\ActiveDirectory\Use

[2022-01-17 08:17] #383 closed

[2022-01-17 14:51] cyrakuse opened #384 "[Bug] Adding multiple groups to a user"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 7.4

**Describe the bug:**
I'm using this code :
`
$user = User::findBy('samaccountname', $account);
$group_list = array(
    'group 1',
    'group 2',
    'group 3'
);
foreach($group_list as $groupe)
            {
                echo "add group : ".$groupe;
                $group = Group::where('cn', '=', $groupe)->first();

[2022-01-17 15:01] stevebauman commented on #384
Hi @cyrakuse,

Can you attach every single one of these groups individually **per-request**? Or does it always fail on one of the groups? "Server is unwilling to perform" could mean you do not have permission to attach groups to the user, or add the user to the group.

[2022-01-17 15:02] stevebauman commented on #380
Closing due to inactivity.

[2022-01-17 15:02] #380 closed

[2022-01-17 15:19] cyrakuse commented on #384
I've made many try to individualy attach my groups.
I found that somme groups cannot be attached.
The common thing between these groups is that they are global distribution groups.

[2022-01-17 16:05] stevebauman commented on #384
Are you certain that the account you're connecting to your LDAP server with has the appropriate permissions for performing this group assignment?

[2022-01-17 16:06] cyrakuse commented on #384
The user i use is domain administrator. So he can do all actions

[2022-01-18 10:28] cyrakuse commented on #384
I tried to add multiple security groups and it's ok.
The problem is with distribution groups.

[2022-01-21 18:47] bmw27 opened #388 "[Bug] Query chunking stops after returning the first page of results"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 8.1

**Describe the bug:**
When I use the `chunk` method, the query stops after returning only one page of results. So for the query below, I'd get one page of 500 entries, but nothing more. I've tried changing the page size to different values like 10 or 1000, but still only get one page of results back.

[code]

[2022-01-21 20:30] stevebauman commented on #388
Hi @bmw27,

I'm not able to reproduce this on my own Active Directory server on PHP 8.0 or PHP 8.1.

Can you dive into the source and see if the resource is for some reason returning `false` or `null` here?

https://github.com/DirectoryTree/LdapRecord/blob/cece84322d1c5199a48a910ad9974692f648ea57/src/Query/Pagination/LazyPaginator.php#L23

[2022-01-24 18:52] bmw27 commented on #388
Thanks for the response. I ran `composer update`, but unfortunately that didn't fix it. I was able to figure out that the `$resource` variable is being initialized as an `LDAP\Result` object. Here's what it shows when I `var_dump` the `$resource` variable:

[code]

My guess is that there's some configuration on the Active Directory server itself that's messing with the `chunk` method, and I don't

[2022-01-24 21:19] bmw27 commented on #388
Same result. I set it to chunk by 250, but then it stopped after the first page of 250 records.

[2022-01-24 21:47] bmw27 commented on #388
@stevebauman I just tried a free test ldap server (ldap.forumsys.com) and it worked just fine with chunking, which makes me think it's a problem with the specific server I'm using, and not the package. The main difference between the test server and the production one, is that the production server uses SSL.

[2022-01-24 23:33] stevebauman commented on #388
Hmmm — can you post your configuration with sensitive details omitted?

[2022-01-25 15:50] bmw27 commented on #388
Btw, I should have mentioned this earlier...I'm using LdapRecord-Laravel in case that matters.

Here are my env variables:

[code]

And here's my config file (I haven't changed this from the default output):

[code]

[2022-01-25 20:20] stevebauman commented on #388
Are you able to try chunking without SSL on your server? Since I'm not able to reproduce, I can't help much besides pure speculation.

[2022-01-26 00:05] bmw27 commented on #388
Looking at the logs, without SSL, the connection basically hangs trying to bind to the LDAP server. It never times out or throws an error.

[2022-01-26 03:39] stevebauman commented on #388
Strange... Can you try this application on a different PHP version or server to make sure something isn't funky with the LDAP extension?

[2022-01-27 21:12] bmw27 commented on #388
Unfortunately that didn't work either. I found out that the cookie coming back from the LDAP server is "0", which is why the do/while condition here is evaluating to `false`:

https://github.com/DirectoryTree/LdapRecord/blob/cece84322d1c5199a48a910ad9974692f648ea57/src/Query/Pagination/LazyPaginator.php#L30

"0" is an odd choice for a cookie, but I was able to get some working example code using P

[2022-01-27 21:12] #388 closed

[2022-01-27 21:16] stevebauman commented on #388
Thanks for reporting your results @bmw27 -- are you able to modify that line you mentioned to see if changing the condition will actually fetch further results?

For example:

[code]

I can certainly modify the condition if so. It's possible this is a bug in LdapRecord if that change does work for you.

[2022-01-27 21:44] bmw27 commented on #388
That fixes it 😄 I was able to get all the results back by using your example.

[2022-01-27 21:46] stevebauman commented on #388
Ah perfect! Thanks @bmw27 -- let me patch this right now and create a release so you can keep working along 👍

I'll post here once the release has been created.

[2022-01-27 22:23] stevebauman commented on #388
Ok [new release is out](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.9.3)! Let me know if it works so I can make sure you're up and running 👍

[2022-01-28 15:39] bmw27 commented on #388
Still works after the update. Thanks again for your help and for all the work you do on this project. Makes working with LDAP in PHP a breeze 😃.

[2022-01-28 15:53] stevebauman commented on #388
Ok excellent! Appreciate the quick follow up 🙏

And thank you! I'm so glad you find LdapRecord useful! 😄

[2022-02-09 09:01] makurtu opened #394 "[Feature] Add suport for Laravel 9"
**Describe the feature you'd like:**

Well, this package requires `"illuminate/contracts": "^5.0|^6.0|^7.0|^8.0"` and Laravel 9 overrides it.

Please, can you add `^9.0` to `illuminate/contracts`?

Thanks!

[2022-02-09 14:45] stevebauman commented on #394
Added https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.9.4 👍

[2022-02-09 14:45] #394 closed

[2022-02-10 21:59] devhubpl opened #397 "[Feature] Bump required psr/simple-cache to 3.0"
**Describe the feature you'd like:**
Could you bump version of psr/simple-cache to 1.0|2.0|3.0 to be compatible with laravel's package requirement

[2022-02-14 15:05] stevebauman commented on #397
Hi there @devhubpl!

If you can figure out how to make `ArrayCacheStore` compatible with all versions, then I will for sure bump the version to 3.0:

https://github.com/DirectoryTree/LdapRecord/blob/master/src/Query/ArrayCacheStore.php

[2022-02-16 03:29] nspaul opened #398 "[Bug] Cannot modify an arbitrary attribute on an Active Directory User object"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 8.1.2

In previous years when I have used the Adldap2 framework to mess around with our Active Directory users, I had a specific need to modify the `msSFU30Password` attribute on certain users. This worked great with Adldap2, and it actually still works great in a test project on my dev machine. I just made a new project from sc

[2022-02-16 13:48] stevebauman commented on #398
Hi @nspaul!

That's definitely strange, since Adldap2 and LdapRecord do share a bit of the same core.

No, you're correct -- you set attributes the same way as you do in Adldap2.

Can you post your configuration with any sensitive details omitted?

I'm not able to reproduce this through my GitHub sponsor dashboard preview. This is what I see:

![Screen Shot 2022-02-16 at 8 47 41 AM](https://user-i

[2022-02-16 16:13] nspaul commented on #398
Let me see if I can show a proper comparison here, with code. One thing I notice is that I am accessing the user object differently between the Adldap2 code and the LdapRecord code. That might have something to do with it, but I'm really not sure.

I don't want to introduce any red herrings here, but could it possible be that in the LdapRecord verison of my code, the User object resolves to a `Lda

[2022-02-16 16:37] stevebauman commented on #398
Is there a particular reason you're authenticating as the user to modify the `msSFU30Password` in LdapRecord but not in Adldap2?

[code]

Also that's really strange with the sponsorship program, I might have to contact GitHub to see what the issue is.

[2022-02-16 18:20] nspaul commented on #398
I guess there's not a technical reason. In the actual implementation of this code, I am changing this msSFU30Password attribute after having changed the actual password on the AD User. As part of that step (not shown here), I am confirming that the user has the correct credentials. In the big picture, however, maybe that's not even necessary, since the method call to change the user's `unicodepwd`

[2022-02-16 19:21] stevebauman commented on #398
Does the user come populated with the `msSFU30Password` attribute? Or is the property hidden like `unicodepwd`?

[2022-02-16 19:35] nspaul commented on #398
Update: Looking at this simplified version again, I realize I didn't set the connection on the $user. This is going to be necessary, because the connection determines which domain credentials to use. So the updated version looks more like this:

[code]

However, when I do it this way, the new Exception is this:
`ldap_modify_batch(): Batch Modify: Type or value exists`

To answer your question you

[2022-02-16 19:45] stevebauman commented on #398
I'm not seeing that in the example posted?

Can we attempt modifying another user attribute first so we know that modification is actually working before stepping into the `msSFU30Password` attribute debugging?

For example, does this work?

[code]

[2022-02-17 01:24] nspaul commented on #398
(Sorry about not including the line to set the connection in my previous response. That's a result of me slightly tweaking this code as I post it, to make sure anything sensitive is removed, and I just got sloppy. I have edited the previous post to include that line)

Good idea. I just confirmed that I can indeed edit the description. I was also able to edit the givenname attribute (I picked that

[2022-02-17 01:38] nspaul commented on #398
Update: Just for funsies, I switched my Connection over to use the credentials of a Domain Admin account. I would not do this in production, but it was worth the test. The end result is that I am seeing the same Exception while using DA creds to try and modify the msSFU30Password attribute.

`ldap_modify_batch(): Batch Modify: Type or value exists`

[2022-02-17 01:38] stevebauman commented on #398
Ok I have a couple things to try:

- Can you dump your users attributes to see if the `msSFU30Password` attribute key is present prior to modification?

[code]

- Can you dump the users batch modifications in your Adldap2 dev repo after modifying the `msSFU30Password` attribute? I tested this locally with both Adldap2 and LdapRecord, and they both show the exact same modifications to be sent to th

[2022-02-17 01:58] nspaul commented on #398
Absolutely!

User's attributes prior to modification in Adldap (i've sanitized a few properties):
[code]

Now the user's attributes prior to modification in LdapRecord (i used dd() since this is Laravel):
[code]

And finally, the modifications of the user after modifying the `msSFU30Password` attribute in the Adldap2 test project:
[code]

[2022-02-17 02:13] stevebauman commented on #398
Strange, for some reason all of the attributes aren't being returned from the LdapRecord query...

Can you manually select the `mssfu30password` attribute on the LdapRecord user query and see if it is returned in the users attributes?

Example:

[code]

This would be the reason why Adldap2 is working and LdapRecord is not.

Since the attribute is not present in the LdapRecord result, LdapRecord wi

[2022-02-17 13:16] nspaul commented on #398
I modified my code to manually select `mssfu30password` and it gave an interesting result. I assumed it would just return all of the user's attributes, but it really just returned no attributes. Specifically, here is the result:

[code]

And yes, I just double/triple checked... I am using the same credentials.

[2022-02-17 13:31] stevebauman commented on #398
Ok thanks for confirming that @nspaul, I appreciate your help narrowing this down so I can fix this if this is indeed a bug in LdapRecord.

Can you do a dump on the query in Adldap2 and LdapRecord to see if they have the same filters? The API is the similar on both:

**Adldap2**:

[code]

**LdapRecord**:

[code]

[2022-02-17 13:44] nspaul commented on #398
Adldap2 (username sanitized):
`string(24) "(samaccountname=testtest)"`

LdapRecord (username sanitized):
`string(141) "(&(objectclass=top)(objectclass=person)(objectclass=organizationalperson)(objectclass=user)(samaccountname=testtest)(!(objectclass=computer)))"'

Both projects are on my local Mac. I put them both in my ~/Sites folder, and I have Laravel Valet hosting the sites out under the <fold

[2022-02-17 13:55] stevebauman commented on #398
Thank you @nspaul! I really appreciate that! 😄  That's so weird about the sponsorship, I'm not sure why it would be different on your end.

Hmmm, we're getting closer!

Can you try using the `Entry` model to dump the users attributes instead inside your LdapRecord project so we can remove the `User` model from the equation?

[code]

[2022-02-17 14:06] nspaul commented on #398
Yeah I'm still wondering about the `User` model thing. Since it is using the `ActiveDirectory\User` model, it makes me wonder if there's some "magic" that is hiding any of the unusual attributes, such as `msSFU30Password`. Anyway, here's the result of querying the object as an `Entry` in the LdapRecord project:

[code]

[2022-02-17 14:38] stevebauman commented on #398
Can you confirm the version of LdapRecord are you using @nspaul?

[2022-02-17 14:41] nspaul commented on #398
From the composer.lock file:
[code]

FWIW, it got installed with ldaprecord-laravel. That version is at 2.5.3:
[code]

[2022-02-17 15:03] stevebauman commented on #398
Ohh I see, so you're LdapRecord-Laravel.

Can you post your entire LdapRecord example again? This seems to be connection driven, since you're adding a connection dynamically, but also using LdapRecord-Laravel which provides you connections via the `config/ldap.php` configuration file.

I'm thinking the models are actually using a default LDAP connection you may have configured in your Laravel appl

[2022-02-17 15:05] stevebauman commented on #398
For example, you're switching connections here:

[code]

But the user has already been retrieved, and the `msSFU30Password` would be missing from the users attributes.

Try the following:

[code]

[2022-02-17 15:29] stevebauman commented on #398
Ah excellent! I'm so glad we've found the issue. No worries at all @nspaul! 😄

I'll close this out, but let me know if you encounter any further issues and I'd be happy to help.

[2022-02-17 15:29] #398 closed

[2022-02-24 13:40] paddy01 opened #409 "Getting all members in group chunked overwrite/ignore recursive"
### Discussed in https://github.com/DirectoryTree/LdapRecord/discussions/408

<div type='discussions-op-text'>

<sup>Originally posted by **paddy01** February 24, 2022</sup>
I'm having issues with chunking results from a `LdapRecord\Models\ActiveDirectory\Group` query.
For some reason, might me working as intended, I only get the Groups not the Members of the Groups when doing

[code]
this result

[2022-02-25 15:59] stevebauman opened #411 "Number of imported LDAP users"
### Discussed in https://github.com/DirectoryTree/LdapRecord/discussions/410

<div type='discussions-op-text'>

<sup>Originally posted by **Dimawesome** February 25, 2022</sup>
Hello everybody,

I'm trying to import LDAP users, using `php artisan ldap:import users` command. After `directorytree/ldaprecord v2.10.0` update, only 1000 users can be imported, although there are much more of them. As fa

[2022-02-26 14:04] stevebauman commented on #411
Hi @Dimawesome, could you run `composer update` and then try your import again?

I've just released a patch that resolves this issue: https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.10.1

[2022-02-28 06:33] Dimawesome commented on #411
@stevebauman, user import now works correctly. Thank you!

[2022-02-28 16:31] stevebauman commented on #411
Excellent, thanks for confirming @Dimawesome! 🙏

[2022-02-28 16:31] #411 closed

[2022-02-28 22:30] joeknex opened #412 "[Bug] Configuration file must be published?"
- LDAP Server Type: ActiveDirectory
 - PHP Version: 8.1.3
 - Laravel Version: 9.2

I'm I correct the configuration file is optional to be published?
If it's not I get "No LDAP connections have been defined."

[2022-02-28 22:31] #412 closed

[2022-02-28 22:32] joeknex commented on #412
Opened in wrong repository

[2022-02-28 22:35] joeknex commented on #412
Opened https://github.com/DirectoryTree/LdapRecord-Laravel/issues/398

[2022-03-01 12:30] hamrak commented on #397
PHP 7.3 is not maintened, PHP 7.4 is under Security fixes only to December 2022.
Why not make it compatible with PHP >= 8.0?

[2022-03-01 12:34] stevebauman commented on #397
We can bump the minimum version to 7.4, but bumping it to 8.0 is major breaking change, meaning I will have to tag an LdapRecord 3.0. I’m not yet done making other breaking changes for 3.0 (but am close).

[2022-03-03 14:04] stevebauman opened #413 "[Feature] Implement true paging support with VLV (Virtual List View) Request"
@KarimGeiger has [shown an implementation](https://github.com/Adldap2/Adldap2/issues/798) of a true LDAP pagination request with the ability to set an offset to retrieve a slice of a whole search result from the LDAP server.

Resources:

- https://www.php.net/manual/en/ldap.controls.php
- https://opensource.apple.com/source/apache_mod_php/apache_mod_php-156/php/ext/ldap/tests/ldap_search_sort_cont

[2022-03-03 14:18] KarimGeiger commented on #413
Just looked at it again and saw that the example also includes sorting, so that another thing that may be quite useful to have.

[2022-03-04 04:35] stevebauman commented on #413
Hey @KarimGeiger! I've just pushed to `master` with an implementation. Would you be able to test it out whenever you can?

I've named the method `slice()` since `paginate()` is already taken (I may rename these methods in v3, haven't decided yet).

Here's a usage example:

[code]

Also, it turns out applying sorting is mandatory when requesting a virtual list view:

https://docs.microsoft.com/en-u

[2022-03-04 11:11] KarimGeiger commented on #413
That's awesome, thanks for that super quick implementation! Unfortunately I don't have time to test today, but I will definitely do so on Monday.

I do however have one thing I'm noticing while looking at the example right away, regarding the sorting. I understand that it's needed so I'm not sure if there's a better way to do it, but I'm not super fond of the `$orderBy` parameter:

For one, I woul

[2022-03-04 13:11] wilfredofermin commented on #237
with laravel the same error is maintained with version 2.5

[2022-03-04 13:29] stevebauman commented on #413
Ah great catch @KarimGeiger! Thanks for looking through it 👍

I've updated the implementation so an existing order by will not be overridden by the method. I'll wait for your test before I make the release.

[2022-03-04 13:31] stevebauman commented on #237
Hi @wilfredofermin, please create a new bug report with your environment and project information, as well as a re-produceable code example so I can take a look, thanks!

[2022-03-07 15:44] KarimGeiger commented on #413
Okay, we now got around to test it. Unfortunately, we immediately got the following error when running the `slice()` method (and `orderBy()` didn't work either, it just ignored the parameter completely):

[code]

Luckily, we found the reason for that error. As the error message suggests, this has nothing to do with some extension being unavailable. Turns out, the problem was that the OU we were se

[2022-03-07 18:15] stevebauman commented on #413
Thanks for your detailed response @KarimGeiger, I really appreciate it! 🙏  I'm glad it's working.

That's lame that AD has a `MaxTempTableSize`. I wonder if it's possible to bypass the warning or the value by setting the `isCritical` parameter in the LDAP controls to `false`?

https://github.com/DirectoryTree/LdapRecord/blob/e9c9363796d5a1143511f99d086783792331391d/src/Query/Builder.php#L622

Ex:

[2022-03-07 19:08] KarimGeiger commented on #413
We already played around with that parameter while debugging the error message and didn't find any difference whether it's set to `true` or `false`. From our understanding this parameter is only relevant if the server doesn't understand these features, so it makes sense that it didn't do anything for us in that case.

[2022-03-07 19:50] stevebauman commented on #413
Ok great, thanks for validating that for me @KarimGeiger. I'll close this issue out once I create a new release 👍

[2022-03-08 14:07] stevebauman commented on #413
Ah great catch thanks @KarimGeiger! 🙏  This has just been resolved.

FYI I've adjusted the parameters to follow the `forPage()` method instead of them being swapped, i.e.:

**Before**:
[code]

**After**:
[code]

I'm creating a new release right now, thanks again for your help! 😄

[2022-03-08 14:30] #413 closed

[2022-03-08 14:32] KarimGeiger commented on #413
Thanks for letting me know of the parameter change. Will check out the latest release shortly. Great work with the library 👍

[2022-03-12 07:43] sambenne opened #419 "[Feature] Change location of logs"
There is an option to enable logging but it would be good to have an option to change the logging channel.

[2022-03-28 04:52] hientn opened #423 "[Bug]"
**Environment:**
 - LDAP Server Type: Samba ActiveDirectory
 - PHP Version: 8.0.16

**Describe the bug:**
Can not get groups of user.
i used $user = LdapRecord\Models\ActiveDirectory\User::query()->findBy('samAccountName', $username)
then i get all groups with: $user->groups()->get() but it return empty collection

[2022-03-28 06:26] #423 closed

[2022-04-08 18:28] ellisonpatterson opened #429 "[Bug] Unable to serialize and then `json_encode` models"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - LdapRecord-Laravel Major Version: 2.5.5
 - PHP Version: 8.0.13

**Describe the bug:**
If I make a model (extending Laravel Model or the LdapDirectory Model) and add the notifiable trait, I am unable to notify that user if I have the notification queue-able. You get this error:
[code]
I found that it is some encoding issue and have to put thi

[2022-04-13 10:15] klepptor opened #425 "[Bug] Reading members from large group fails"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 8.1.4 (Windows, XAMPP)

**Describe the bug:**

Hi!

I'm using ldaprecord to read all members of an AD group to get their mail adresses. This works quite well with groups containing up to 1200 users. But I've a group with ~1700 users, there it does not. If I remove some users from the group (I haven't exactly tested the limits, b

[2022-04-15 11:40] scramatte opened #426 "[Support]AD user password management ..."
Hello,

I'm using LdapRecord to manage user password of my Active Directory.
It works perfectly if I use and admin user that have read/write rights to the AD.

Well my question is for security reason, how can I use a readonly LDAP user and  rebind to the current authenticated user to let them change their own password. Note that I've got  old password and new one.  Normally currently logged user s

[2022-04-15 15:35] stevebauman commented on #426
Hi @scramatte, thanks so much for the sponsorship! 🙏

Yes you're correct -- though to my knowledge they will still need to provide their old (current) password and their new password to be able to update it.

You should be able to bind as the user by retrieving the connection, and calling `auth()->attempt()`, then attempt changing their password.

Can you give the below example a shot?

[code]

[2022-04-15 15:43] stevebauman commented on #425
Hi @klepptor,

What happens when you dump the group's `member` attribute, does anything appear?

My assumption is that there is likely a limit you're hitting in your LDAP server.

Can you try attempting a [`chunk()`](https://ldaprecord.com/docs/core/v2/searching/#chunking) and see if that works?

[code]

[2022-04-15 15:55] scramatte commented on #426
Does it will works with  expired password too?

[2022-04-15 16:30] scramatte commented on #426
Well, I've just tried and I got the following error.

[code]

[2022-04-15 16:35] stevebauman commented on #426
No unfortunately -- as the user will not be able to authenticate against your LDAP server to perform the password change due to having an expired password. You will have to use another user account to perform the change.

Can you post your entire code performing the password change?

[2022-04-15 16:46] scramatte commented on #426
[code]

[2022-04-15 16:56] stevebauman commented on #426
Thanks @scramatte.

This exception apparently means that the new password has been refused by your Active Directory server. Either because the password is not complex enough, or because the user has no rights to change it.

Also, can you verify that you are connected to your LDAP server via SSL or TLS?

[2022-04-15 17:12] scramatte commented on #426
I'm connecting through SSL. My user is allowed to change password.  With admin user it just works.
I'm going to check if this due to password is not complex enough.

[2022-04-15 17:37] scramatte commented on #426
Effectively error was is related that password was not complex enough...
But something is strange, because  my AD session password has changed but I still able to login with the old password on my VPN or in my laravel App and new one is not working...

[2022-04-15 17:41] stevebauman commented on #426
How many Active Directory servers do you have? Your servers likely have password caching enabled, which is allowing the old password to still work. Here's a couple of articles about it:

https://security.stackexchange.com/questions/230860/after-changing-microsoft-password-one-can-still-login-to-previously-authenticat

https://community.spiceworks.com/topic/214779-ad-accounts-can-log-in-with-two-pa

[2022-04-15 18:01] stevebauman commented on #429
Moved this to the LdapRecord repository since this is a core issue 👍

[2022-04-17 21:10] scramatte opened #431 "[Bug] Call to undefined method LdapRecord\Query\Model\ActiveDirectoryBuilder::getKeyType() on Migrate"
Hello,

I've rollback all migration from a project.  And I when I try to migrate back everything I'got the following error ...
Any Idea ?

[code]

[2022-04-17 21:13] stevebauman commented on #431
Hi @scramatte,

Looks like you’re running something in your migration that is causing the exception. I’m going to need that code to be able to help in any way. Thanks!

[2022-04-17 22:14] scramatte commented on #431
This migration is from "Laravel Nova" itself

[code]

[2022-04-17 22:16] scramatte commented on #431
My project use laravel 9.2 + nova 4

[2022-04-17 22:17] scramatte commented on #431
I suspect the following line

`$table->foreignIdFor(Util::userModel(), 'user_id')->index();`

[2022-04-17 22:21] scramatte commented on #431
If you  disable  "ldap"  auth.php provider and set back temporarily the default eloquent one you can migrate everything without issue.

[2022-04-18 01:52] stevebauman commented on #431
Looks like you're using an LdapRecord model in place of a Laravel Eloquent model. This won't work (as you've seen from the undefined method call). You'll have to replace the `Util::userModel()` method with a Laravel Eloquent model or change what `Util::userModel()` returns -- if that's possible (I haven't use Laravel Nova so I'm unaware of its configurability).

[2022-04-18 13:10] AlexMteam commented on #425
Hello I attempt the same issue.
Your code fail, method each does not exist.

[2022-04-18 17:20] stevebauman commented on #425
@AlexMteam Can you try chunking?

[code]

[2022-04-18 21:30] #429 closed

[2022-04-18 21:34] stevebauman commented on #429
Fixed in [v2.12.0](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.12.0) 🎉

[2022-04-18 21:56] scramatte commented on #431
I think that It's not posible to custom this. So may we can  add some method  into LdapRecord class  that return eloquent related model?  In my case I've got following config

[code]

So it should be possible ... Isn't it ?

[2022-04-19 06:47] AlexMteam commented on #425
Hello thnx for answer.
Checked now, and did not work, receive error [**Array to string conversion**]

[2022-04-19 11:05] AlexMteam opened #434 "[Bug] Get Group error"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: [7.2.34]

On version 2.1.12.0 when call function Group::findBy() receive error : syntax error, unexpected ')'
This appear because of comma in line vendor/directorytree/ldaprecord/src/Models/Concerns/HasAttributes.php:710

[2022-04-19 11:06] masmos opened #435 "[Support]"
Hi Team,
I've installed LDAP Record in Laravel 9 and its working fine, The help i need is how to modify this model **'model' => LdapRecord\Models\ActiveDirectory\User** so i can include other parameters like phone Number and UserName while importing user from LDAP Server.

**Environment:**
 - LDAP Server Type: [ActiveDirectory]
 - PHP Version: [8.1]
 - Laravel 9

[2022-04-19 11:15] stevebauman commented on #435
Hi @masmos,

You’re looking for “sync attributes” — here is the documentation link:

https://ldaprecord.com/docs/laravel/v2/auth/database/configuration/#sync-attributes

[2022-04-19 11:15] #435 closed

[2022-04-19 11:55] masmos commented on #435
It worked like charm, You are the best

[2022-04-19 11:59] stevebauman commented on #435
Happy to help @masmos! 😄

[2022-04-19 12:00] ellisonpatterson commented on #429
Thank you so much!

[2022-04-19 12:00] stevebauman commented on #434
Hi @AlexMteam,

I don’t believe this exception is caused by LdapRecord — otherwise the whole test suite would fail. Can you share your code that is generating the exception?

[2022-04-19 12:03] AlexMteam commented on #434
$connection = new Connection(some_configs);
 $connection->connect();
 Container::addConnection($connection);
$group = Group::findBy('cn', 'some group name');

[2022-04-19 12:37] stevebauman commented on #434
Is your PHP version correct @AlexMteam? PHP 7.2 is not supported for LdapRecord -- this could possibly be causing this issue. LdapRecord requires PHP >= 7.3.

[2022-04-19 12:44] stevebauman commented on #431
Hmm, it looks like they've hard-coded the config path for the user model... You may have to ask the Laravel Nova team this question, as I do not have a license to be able to source dive this with you to see if there is an alternate way to override this method.

[2022-04-20 12:57] stevebauman commented on #425
That's great to hear @klepptor! Appreciate the follow up. I'll close this out.

[2022-04-20 12:57] #425 closed

[2022-04-20 16:57] MattesDe opened #436 "[Feature] setMembers / setAttribute for members"
Hi,
we are migrating from Adldap2 to LdapRecord. It looks like the setMembers method for groups is no longer available.
Especially for large groups with thousands of members it was quite easy to update the members this way.
It is not possible to use `$group->setAttribute('member', $DnList);` (this is what setMembers does in Adldap2) for large groups (> 1500 members).
This is what an existing large

[2022-04-21 10:55] MattesDe commented on #436
Okay, after digging deeper into this we found out the following:
It looks like if the AD server has a limit for attributes, the original "member" attribute is not filled when the limit is exceeded. Only the attribute "member;range=0-1499" is filled.
If now the "member" attribute is filled, there is no "ldap_mod_replace" in save(), instead an " ldap_mod_add" is executed. This leads to the error "Ba

[2022-04-22 12:31] stevebauman commented on #436
Thanks for following up @MattesDe! I'm glad you've resolved the issue 🙏

[2022-04-22 12:31] #436 closed

[2022-04-22 12:32] stevebauman commented on #426
Closing due to inactivity.

[2022-04-22 12:32] #426 closed

[2022-04-26 19:49] issamjrfadel opened #440 "Error adding user in AD"
Hello,

I am getting an error when trying to add a user into AD server. It seems that I am able to connect to the server as I am able to run a basic query and view the results. However I am having trouble with trying to add a new user.

 #diagnosticMessage:
 0000202B: RefErr: DSID-031007F9, data 0, 1 access points

#message:
"ldap_add(): Add: Referral"

Any support is appreciated.

Thank you.

[2022-04-26 19:51] stevebauman commented on #440
Hi @issamjrfadel,

I'm going to need to see your code creating the user to be able to assist you 👍

[2022-04-26 19:58] issamjrfadel commented on #440
Thanks for the reply. Here is the code

`$conn = new Connection([
        'hosts' => ['ldaps.url'],
        'username' => 'username',
        'password' => 'password',
        'port' => 389,
        'base_dn' => 'OU=Testing,DC=Test',
        'use_ssl' => false,
        'use_tls' => true,
        'follow_referrals' => false
        ]);

try {
            $conn->connect();

            $user = (new

[2022-04-26 20:01] stevebauman commented on #440
Are you sure your `base_dn` is correct? To my knowledge, there must be at least two domain components (`DC=Test,DC=com`).

[2022-04-26 20:07] issamjrfadel commented on #440
Yes there is two, sorry I left that out. It would be in this format `OU=Testing,DC=Test,DC=com`

[2022-04-27 17:52] stevebauman commented on #440
Ok. Have you also added the connection to the container after connecting? For example:

[code]

[2022-04-28 00:16] icsy7867 opened #441 "Can't contact LDAP server error intermittently"
Brand new user here.  I am unfortunately not versed in Laravel and I have imported manually.  Everything seems to work fine about 2/3 of the time (Testing via page refreshes).  Currenlty using the php-apache docker container.

My setup is very simple at the moment and using the latest verion.  Just pulled via composer earlier today.

[code]

On most page loads I see what one would expect:
`Success

[2022-04-28 03:29] icsy7867 commented on #441
I'm an idiot.  My php container I was using had a very old tag.  It was running debian 9... Yikes...

Rebuilt the container on debian 11 and everything is working like a charm.

[2022-04-28 03:29] #441 closed

[2022-04-28 11:14] stevebauman commented on #441
Excellent, glad to hear you have resolved it @icsy7867!

[2022-04-28 20:50] issamjrfadel commented on #440
Thanks Steve! This worked.

[2022-04-28 20:52] stevebauman commented on #440
Excellent! Glad you’re up and running @issamjrfadel. 🎉

[2022-04-28 20:52] #440 closed

[2022-05-02 13:27] stevebauman commented on #434
Closing due to inactivity.

[2022-05-02 13:27] #434 closed

[2022-05-03 06:35] AlexMteam commented on #434
Checked on PHP 8 all is ok, sorry.

[2022-05-03 12:17] stevebauman commented on #434
No worries, thanks for the reply!

[2022-05-04 04:12] yakatz opened #442 "[Feature] Make `determineModelFromRelated` more flexible"
The current implementation of `determineModelFromRelated` requires every possible `objectClass` to match the model in order for it to be converted from `Entry`. This becomes an issue when, for example, not every `User` has the same classes. In our case, this is because a user might have a class that shows they are linked to another organization (and the class adds additional required attributes).

[2022-05-04 05:04] yakatz commented on #442
I ended up just trying something out - it seems to work fine with every test I could come up with

[2022-05-10 15:41] testlorenzospa opened #445 "User::findBy and User::findByAnr"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 8.0

Hello.
Making a call of one of these two methods, I have a fatal error in PHP about memory size
$u = User::findBy('samaccount',$nameuser)->get();
$u2 = User::findByAnr($nameuser)->get();

How can I use these two methods without errors?

Thanks.

[2022-05-10 15:43] stevebauman commented on #445
Hi @testlorenzospa,

Can you post the exception? If you're searching for a single user, you definitely shouldn't be hitting a memory limit.

A memory limit should really only be hit when you call `paginate()`, as it fetches **all** results from your LDAP server.

[2022-05-10 15:46] testlorenzospa commented on #445
Hello @stevebauman.

This is the error.

Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 20480 bytes) in .../directorytree/ldaprecord/src/Ldap.php on line 18

Thanks.

[2022-05-10 15:48] stevebauman commented on #445
Hmm, I noticed you're calling `->get()` after calling `findBy()` and `findByAnr()`. You don't need to call `get()` after these. Calling `get()` will make a new request fetching all records from your LDAP server.

Replace your code with:

[code]

[2022-05-11 11:15] testlorenzospa commented on #445
Hello @stevebauman.

Thanks for you message.

Then, I need to call these two methods without the ->get().
Starting from my first message, after
$u2 = User::findByAnr($nameuser)->get();
to evaluate if there is some data, I can call
$u2->first()
Is it right?

Thanks again.

[2022-05-12 10:36] jzapater commented on #223
In the last release v2.13 I have the same problem with this method:

$user->groups()->recursive()->get();

The method not get recursive the groups of user's Primary Group.

Can you check it ?

Thanks.

[2022-05-12 10:51] jzapater opened #447 "[Bug] Recursive Groups don't return members if they have the group set as their primary group in Active Directory"
At least in the latest release v2.13 I have one problem with this method:

$user->groups()->recursive()->get();

The method not get recursive the groups of user's Primary Group.

Can you check it ?

Thanks.

[2022-05-12 12:54] stevebauman commented on #447
Hi @jzapater,

Does the user account you are binding to your LDAP server with have access to read from the primary group?

[2022-05-12 13:14] jzapater commented on #447
The problem is not the bind user because I change the primary group of the user and the groups returned are different.

[2022-05-12 13:18] stevebauman commented on #447
Ok, but does the user you are binding to your LDAP server with have access to the groups that should be returned in the result (i.e. the ones missing)?

Also, please fill out the initial bug report data. I need more information to be able to do anything with this other than "doesn't work".

[2022-05-12 19:19] jzapater commented on #447
If change the primary group of user the result is different.

There are groups that come out in one query and different ones in another.

[2022-05-12 20:44] stevebauman commented on #447
I'm not sure what to tell you with this limited set of information.

This seems very environment specific. I have no idea what LDAP server your running, version of LdapRecord, or PHP version.

Please fill out the information that is requested when you create a bug report, and also share some more information about your environment, and if possible -- produce a failing test case illustrating the pr

[2022-05-12 20:44] #447 closed

[2022-05-13 06:47] jzapater commented on #447
Detailed example of the bug:

LdapRecord v2.13
AD with samba 4.15.7

PHP Example:
$user = User::find('CN=user ....');
$groups = $user->groups()->recursive()->get();
foreach ($groups as $group) {
    echo $group->getName() . "\n";
}

Create four groups:
- group 1
- group 2
- group 3
- group 4
In group 1->memberof -> group3
In group 2->memberof -> group4
Create user:
In user->member of group1 and gr

[2022-05-26 14:14] useronkel opened #455 "[Bug]"
**Environment:**
 - LDAP Server Type: OpenLDAP
 - PHP Version: 7.4.19

**Describe the bug:**
Latest commit includes calls to str_contains() which is a pure PHP8 function and I didn't find any if(!function_exists() :-)

[2022-05-26 14:16] stevebauman commented on #455
Hi @useronkel!

Thanks for keeping an eye on this — though I’ve added Symfony’s PHP 8.0 polyfill to ensure this method is available:

https://github.com/DirectoryTree/LdapRecord/blob/14fb1773c99536096e86f946c7a2c21b3123b5e9/composer.json#L40

[2022-05-26 14:17] #455 closed, assigned to nobody

[2022-05-26 14:24] useronkel commented on #455
Ty.
I'am using the src-Directory, not composer. My bad :-(

[2022-05-26 18:30] paulb-opusvl opened #456 "[Bug] segfault - adding a user"
**Environment:**
 - LDAP Server Type: OpenLDAP
 - @(#) $OpenLDAP: slapd 2.4.57+dfsg-1~bpo10+1 (Jan 30 2021 06:59:51) $
	Debian OpenLDAP Maintainers <pkg-openldap-devel@lists.alioth.debian.org>
 - PHP Version: 8.1.6
 - Laravel: 8.83,13
        "directorytree/ldaprecord-laravel": "^2.5",

**Describe the bug:**

When I try to save a new user I get a segfault. It either kills my artisan server or ngin

[2022-05-26 20:16] paulb-opusvl commented on #456
It's definitely happening at the point of `->save()` as I ca ndo a `dd` before and get this:

[code]

[2022-05-26 20:58] paulb-opusvl commented on #456
I can close this.

Not for the first time I embarrass myself with something that once I figure it out becomes obvious.

The who `objectClasses` was a read herring. What the error meant was that I was trying to use an attribute from a schema that didn't support it. My 3 object classes don't support my default `rdn` - `uid`. For that I had to add `posixAccount` and add in a lot more mandatory attrib

[2022-05-26 20:58] #456 closed

[2022-05-30 12:01] ajira86 opened #457 "[Bug] A non-numeric value encountered"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 8.1

**Describe the bug:**

Getting LDAP user sometimes return this exception since I updated LDAP records from 2.11 to 2.14

[code]

[2022-05-30 12:06] ajira86 commented on #457
Seams to be an issue using `convertWindowsTimeToUnixTime` on `lastlogon` from active directory user attribute

[2022-05-30 12:09] stevebauman commented on #457
Hi @ajira86, did you update to PHP 8.1 recently as well? This may be an 8.1 issue due to strict types.

[2022-05-30 12:11] ajira86 commented on #457
Nope, the project starts with PHP 8.1 about three month ago.

[2022-05-30 12:12] stevebauman commented on #457
Ok, can you share your code and a dump of the model with any sensitive attributes omitted?

[2022-05-30 12:30] ajira86 commented on #457
[code]

I get sometimes `"132983861988617987"` or sometimes `"2022-05-30T14:09:59+0200"` in `$windowsTime` parameter

[2022-05-30 12:33] stevebauman commented on #457
Can you share your code? Have you extended any models? etc.

[2022-05-30 15:57] ajira86 commented on #457
And here example of user on issue :

[code]

[2022-05-31 12:10] stevebauman commented on #457
Thanks for posting all of that @ajira86, much appreciated.

Can you remove the trait named `AttributesForJson` on the `Ldap\User` model and try again?

This is likely due to the serialization bug fixes in [v2.12.0](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.12.0). I'm going to investigate further, but let me know if removing that trait resolves this serialization issue.

[2022-05-31 12:32] stevebauman opened #458 "[Bug] Align `fromDateTime` arg order to `asDateTime`"
The argument order for `fromDateTime` must follow `asDateTime` in v3:

[code]

[2022-05-31 12:41] stevebauman opened #459 "[Bug] Make `encodeAttributes` protected in v3"
The `encodeAttributes($attributes)` method in `Models\Concerns\HasAttributes` should not be `public`, as it is not intended to be called manually.

[code]

[2022-05-31 12:54] stevebauman opened #460 "Port remaining `Utilities` methods to other classes"
The remaining `Utilities` methods such as `stringGuidToHex`, `binaryGuidToString`, and `binarySidToString` should be moved to other classes like `Attributes\Guid` and `Attributes\Sid`.

[2022-05-31 13:14] stevebauman commented on #457
Patch is in the works -- will be released later today 👍

[2022-05-31 17:38] pepperfm opened #464 "[Bug] ldap_search(): Passing null to parameter #8 ($deref) of type int is deprecated"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 8.1.6

**Describe the bug:**
In the `directorytree/ldaprecord/src/Ldap.php` file the search() method set `null` for 7th parameter `$deref` as default value.
`public function search($dn, $filter, array $fields, $onlyAttributes = false, $size = 0, $time = 0, $deref = null, $serverControls = [])`
But php method `ldap_search()` expe

[2022-05-31 17:42] stevebauman commented on #464
Thanks for the report @pepperfm, I'll have a patch out today for this 👍

[2022-05-31 17:43] #464 closed

[2022-05-31 17:45] stevebauman commented on #464
Oh excellent, thanks for looking into that for me 🙏

[2022-06-02 15:49] adchir12 opened #465 "require ext-ldap it is missing from your system."
I am getting the following error even after installing ldap.
PHP 7.3.33

`Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - directorytree/ldaprecord-laravel[v2.5.0, ..., v2.5.6] require ext-ldap * -> it is missing from your system. Install or enable PHP's ldap extension.
    - Root composer.json requires directorytree/ldaprecord-laravel ^2.5 -> satisfiab

[2022-06-02 15:52] stevebauman commented on #465
Hi @adchir12, this is a composer installation error.

Make sure that `composer` is targeting the same PHP version and installation that your local web server is targeting. 👍

[2022-06-02 15:52] #465 closed

[2022-06-07 14:02] ThierryLesire opened #466 "Laravel / LDAPRecord, how to use ldap authentication on Login"
Hello all,
I'm new on Laravel and LDAP Record.
I ever use LDAP Record on classes and it work fine.
But I can't succeded to have first page login with LDAP Authentication
Last time I had "Authentication user provider [ldap] is not defined."
Maybe I done something wrong but I don't know what.
I used Laravel::UI for views and of course LDAPRecord.
Can I have a step by step implementation of this type

[2022-06-07 14:04] #466 closed, assigned to nobody

[2022-06-11 15:11] marianoka opened #469 "error to publish in lumen"
Hi!
I have installed ldaprecord in lumen. Had no problems with install but I cannot publish vendor to create ldap.php file
I get this error :
In Application.php line 223:

  Class "LdapRecord\Lumen\LdapServiceProvider" not found
after running this command:
php artisan vendor:publish --provider="LdapRecord\Laravel\LdapServiceProvider"
Also, I haved edited bootstrap/app.php to register the classes.

[2022-06-12 13:36] stevebauman commented on #469
Hi @marianoka,

Have you read the installation docs?

https://ldaprecord.com/docs/laravel/v2/lumen

Make sure you have installed LdapRecord Lumen, register the service provider, then run `php artisan make:ldap-config`.

That will get you up and running 👍

[2022-06-12 13:36] #469 closed

[2022-06-12 14:52] marianoka commented on #469
Thanks!!! that works!!

[2022-06-12 15:10] marianoka commented on #469
I could install ldaprecord, but whe trying to get users from my openldap I get this mesagge
Undefined constant "LdapRecord\Models\Attributes\LDAP_ESCAPE_FILTER"

[2022-06-12 15:12] marianoka opened #470 "LDAP_ESCAPE_FILTER"
I could install ldaprecord, but whe trying to get users from my openldap I get this mesagge
Undefined constant "LdapRecord\Models\Attributes\LDAP_ESCAPE_FILTER"
LDAP Server: OpenLDAP
WS: nginx
PHP: 8.1
Lumen: 8.1.2

[2022-06-12 15:15] stevebauman commented on #470
Hi @marianoka,

This means that your web server is not using the same PHP installation that your Composer installation is using.

Make sure that your web server is using a PHP installation with the LDAP extension enabled, and that will resolve your issue.

[2022-06-12 15:15] #470 closed

[2022-06-13 17:46] ellisonpatterson commented on #457
I'm experiencing this as well, I'm wondering if you had time to get that commit pushed.

Thank you so much!

[2022-06-13 17:54] stevebauman commented on #457
Whoops! Thanks for the reminder @ellisonpatterson -- I forgot to push the PR 😅

https://github.com/DirectoryTree/LdapRecord/pull/471

[2022-06-13 17:57] #457 closed

[2022-06-13 18:00] stevebauman commented on #457
Ok I've just released [v2.15.0](https://github.com/DirectoryTree/LdapRecord/releaseshttps://github.com/DirectoryTree/LdapRecord/releases/tag/v2.15.0) with this patch. Let me know if you encounter any issues!

Apologies for the delay 😄

[2022-06-13 18:07] ellisonpatterson commented on #457
No worries, thank you for the swift response and amazing work!

[2022-06-13 18:11] stevebauman commented on #409
Hi @paddy01, I haven't forgotten about this. `chunk()` does in-fact execute a different query that doesn't take `recursive()` into account. Going to see if I can fix this 👍

[2022-06-16 12:36] #409 closed

[2022-06-16 12:40] stevebauman commented on #409
Released in [v2.16.0](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.16.0) 🎉

[2022-06-16 12:42] stevebauman commented on #283
Apologies for the late reply, going through all the issues today on the LdapRecord repo. I'm glad you were able to resolve this! And thanks for your kind words! 😄

[2022-06-16 12:42] #283 closed

[2022-06-16 12:45] stevebauman commented on #367
Closing as a stale issue -- if you're still encountering this, let me know and I can re-open.

[2022-06-16 12:45] #303 closed

[2022-06-16 12:47] stevebauman commented on #340
Going to skip this, as we might hit some edge cases in different application environments. I also want to avoid having an extra dependency.

[2022-06-16 12:47] #340 closed

[2022-06-23 08:57] kantmn opened #479 "[Bug] Use the users account to change its own ldap password"
**Environment:**
 - LDAP Server Type: OpenLDAP
 - LdapRecord-Laravel Major Version: 2.5
 - PHP Version: 8.0

**Describe the bug:**

Hi there,

i am trying to change my users password via ldaprecord/laravel on the ldap server.

this was tested with an admin user account as ldap binding, but i would prefer to use a non admin account for security reasons.

That is why i was looking for a way to use t

[2022-06-23 13:19] stevebauman commented on #479
I've just created a [test case](https://github.com/DirectoryTree/LdapRecord/commit/297a98ab2ad6c9b14786592add8657348a304718) against a [real OpenLDAP server](https://github.com/DirectoryTree/LdapRecord/runs/7024272938?check_suite_focus=true).

Closing, as the above should work for you. Let me know if you encounter further issues and I can reopen.

[2022-06-23 13:19] #479 closed

[2022-06-23 13:53] kantmn commented on #479
okay sounds good, i did not know about this construct
`\LdapRecord\Models\OpenLDAP\User::resolveConnection()->auth()->bind($user->getDn(), $validated['oldpassword']);`

so this line is kicking the previous connection, and creating a new conenct with as user credentials, is this correct? is this connection limited to the user object or in general for all further queries from here on?

also i had to

[2022-06-23 13:59] stevebauman commented on #479
Yes that's correct, any further LDAP operations executed after that statement will be run underneath that user.

If you want to revert *back* to the user you have configured inside your `.env`, you can run:

[code]

This means that the `$user` does not contain the `userPassword` attribute. I've experienced this inside the OpenLDAP integration tests. This will occur if the user does not have a pass

[2022-06-23 14:21] kantmn commented on #479
i guess this is because of laravel, inside the user model password is defined as hidden attribute, so it will not be displayed when retrieving the object. the user model between laravel and ldap is in fact synced

but reviewing the code i am not sure if i have missed to add the password inside the sync attributes handler or have removed it as this is done anyway and caused an issue...

This is a l

[2022-07-07 16:51] efcjunior opened #482 "Search returning empyt when it is done by model in Laravel"
Library v2.

I made connection configuration in .env file of Laravel 8.

This way it word properly:

`$connection = Container::getDefaultConnection();
        $results = $connection->query()->where('uid', '=', '99999')->get();`

But in this another way it is working:

`        $users = User::where('uid', '=', '99999')->get();
`

I got this result:

`object(LdapRecord\Models\Collection)#318 (2) { [

[2022-07-07 16:54] stevebauman commented on #482
Hi @efcjunior,

Please fill out the required information when submitting an issue. If this is not filled out, I cannot help you properly.

However, by the looks of it, you're likely connecting to an OpenLDAP server, but are using an `ActiveDirectory\User` model.

Make sure you're using the correct built-in model (or create your own), otherwise, you will not retrieve results.

[code]

[2022-07-07 16:54] #482 closed

[2022-07-09 17:05] efcjunior opened #483 "Class App\Models\User cannot extend from interface LdapRecord\Laravel\Auth\LdapAuthenticatable"
I'm trying to implement  database auth in laravel 8, but I can't figure out why it does'nt allow to extend LdapAuthenticatable. Is there any example?

Should I replace "extends Model" by extends LdapAuthenticatable implements LdapAuthenticatable ?

`<?php

namespace App\Models;

use Illuminate\Notifications\Notifiable;
use LdapRecord\Laravel\Auth\LdapAuthenticatable;
use LdapRecord\Laravel\Auth\Au

[2022-07-09 19:10] efcjunior commented on #483
I did a mistake. The right way would be:

use Illuminate\Foundation\Auth\User as Authenticatable;
class Usuario extends Authenticatable implements LdapAuthenticatable

[2022-07-09 19:10] #483 closed

[2022-07-12 19:37] reind33r opened #484 "[Bug] hasMany() doesn't filter by objectClass"
**Environment:**
 - LDAP Server Type: OpenLDAP /
 - PHP Version: 8

**Describe the bug:**

When defining a hasMany() relationship through model class (e.g. the User class in the doc), the query filter used to retrieve the groups doesn´t care about the objectClass of the related model.

[code]

i.e. calling `$user->groups()->get()` will yield such search: `(member=cn\3dJohn Doe\2cdc\3dacme\2cdc\3do

[2022-07-13 18:29] efcjunior opened #485 "How could extract username from auth_User like 'domain\username'"
The auth_user or remote_user variables returns something like 'domain\username'. That's way I can't use the WindowsAuthenticate.  Is there anyway to extract username from these variables?

[2022-07-13 18:40] efcjunior commented on #485
Yep! But which class should I put it ?

Thank you.

[2022-07-13 18:46] stevebauman commented on #485
I'd say wherever you need it... I'm not exactly sure what you're attempting to implement, I'd need more information.

[2022-07-13 21:24] stevebauman commented on #484
Hi @reind33r! This is a great question.

You're right -- this would occur. However, `$objectclasses` are taken into account when building the models *from* a relationship query result. This means that you will receive both the `group` and `school`, but the `school` will be returned as an `Entry` instance, and not a `Group` instance, since it's `$objectclasses` would not match the `Group::$objectCl

[2022-07-13 22:02] kirkaracha opened #487 "Connection doesn't exist error after successful test"
When I run `php artisan:test` the default connection is successful, but when I run `php artisan` I get an error saying the connection doesn't exist.

![image](https://user-images.githubusercontent.com/3633070/178843746-bdba9e18-6ca7-404c-99ca-e804b0a6c484.png)

Laravel 9.19
PHP 8.1
directorytree/ldaprecord-laravel 2.5.6

I uninstalled and reinstalled LdapRecord with the same result.

[2022-07-13 22:07] kirkaracha commented on #487
config/ldap.php settings:

`'default' => env('LDAP_CONNECTION', 'default'),`

[code]

.env settings (username and password copied from working environment)
![image](https://user-images.githubusercontent.com/3633070/178844811-22caf9c1-ed54-455e-90f7-c6b75aaf9a9f.png)

[2022-07-14 06:12] reind33r commented on #484
Hi!

Thank you for the very detailed answer!

It makes sense, and it is indeed easy to filter the results if required, like you suggested. I guess if anyone else gets surprised by this, they'll find your explanation here easily.

Great work on this project, it's been working very smoothly!

[2022-07-14 06:12] #484 closed

[2022-07-14 15:28] stevebauman commented on #484
Happy to help @reind33r! Like you mentioned, this would be good to put into the docs so others aren't caught off guard, as it certainly can be misleading.

Thanks for your kind words! I'm glad you enjoy using LdapRecord 😄

[2022-07-14 15:44] stevebauman commented on #487
Hi @kirkaracha,

It looks like you've configured your connections through both the `.env` and configuration based options:

https://ldaprecord.com/docs/laravel/v2/configuration

![Screenshot 2022-07-14 at 11 43 36 AM](https://user-images.githubusercontent.com/6421846/179022704-f9200b04-cddf-4b2b-872f-d4c31e9e9853.png)

You must use one, or the other. You cannot combine both.

Either delete the `co

[2022-07-14 15:44] #487 closed

[2022-08-23 19:41] ShVitaliy opened #492 "[Support] Needs to update dependencies in composer.json"
**Environment:**
 - LDAP Server Type: dwimberger/ldap-ad-it
 - PHP Version: 8.0.22

Hi! I faced with unexpected error.

I have installed laravel from scratch just now and can't install this package. It was an error

Problem 1
    - Root composer.json requires directorytree/ldaprecord ^2.16 -> satisfiable by directorytree/ldaprecord[v2.16.0].
    - directorytree/ldaprecord v2.16.0 requires psr/simp

[2022-08-24 06:23] ShVitaliy commented on #492
Ok, thank you! it works

[2022-08-30 18:37] nspaul opened #493 "[Support] How to get enabled/disabled status on an Active Directory user"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 8.1.9
 - Laravel Version: 9.26.1

(I'm Happy to delete this and move it to the LdapRecord-Laravel repo if necessary)

I have a Laravel app where I am tracking several attributes on our users, and I have the need to check if a User is enabled or disabled. I feel like there is a simple solution to this, but I'm running into issues

[2022-08-31 03:18] stevebauman commented on #493
Hey @nspaul!

Yes it's totally possible. You'll have to use the user's "User Account Control" value, along with the LdapRecord `AccountControl` object to determine if a user is enabled:

https://ldaprecord.com/docs/core/v2/active-directory/users/#user-account-control

It's not identified well in the documentation and not found via the search input. I'll update this! 👍

Here's how you can do this:

[2022-08-31 03:20] stevebauman commented on #493
I forgot to mention, there is a built-in scope on Active Directory queries that you can use to filter on disabled user accounts:

https://github.com/DirectoryTree/LdapRecord/blob/ac8860be6f6451497df8de34dff3d08d36adbd35/src/Query/Model/ActiveDirectoryBuilder.php#L58-L68

[code]

[2022-09-01 12:40] nspaul commented on #493
Thanks @stevebauman! This worked perfectly. I can work with it.

Side-note (and this is not me throwing any kind of shade): I hinted at this when I wrote up this Issue, but back in the Adldap2 days, I was able to do `ldapuser->isEnabled()` to pull the info. This is preferable simply because it reads better. Think "If this user is enable, then do this thing. Else, do this other thing". It would be

[2022-09-01 12:40] #493 closed

[2022-09-01 12:56] stevebauman opened #495 "Rename `AccountControl` add methods to "apply" convention"
The `AccountControl` methods are deceiving as they can be interpreted to return booleans instead of applying a value.

For example:

[code]

[2022-09-01 13:07] stevebauman commented on #493
Excellent! Glad you're up and running @nspaul.

Hear you loud and clear! I agree with you. I've just added these methods into the included `ActiveDirectory\User` model in [v2.17.0](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.17.0). You can now call `isEnabled()` or `isDisabled()`:

[code]

Let me know if you have any further suggestions -- my ear is always open! 🙏

[2022-09-25 09:46] vatsake opened #504 "[Bug] password not encoded if using custom model"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version:8.0

**Describe the bug:**

For some reason $user->unicodepwd is not automatically encoded IF I'm using custom model.

[code]

[code]

[code]

[2022-09-26 02:02] stevebauman commented on #504
Hi @vatsake,

If you create your own custom `User` Active Directory model, you should either extend the built-in `ActiveDirectory\User` model, or implement the interface and traits that currently exist on that model, namely the `HasPassword` trait:

https://github.com/DirectoryTree/LdapRecord/blob/8ad10c26a992b46a265ff84b2d1845003c910a6e/src/Models/ActiveDirectory/User.php#L14-L32

[code]

I'd rec

[2022-09-30 15:45] stevebauman commented on #504
Hi @vatsake,

I don't believe you can set a password during creation of an ActiveDirectory account -- it must be set after the account exists. Can you confirm if setting the password using your own model actually creates the user with the password you've provided?

Also, can you try re-extending the base `User` model and attempt setting the password after creation?

I.e.

[code]

[2022-09-30 19:29] stevebauman commented on #504
Thanks for confirming that @vatsake,

I think this is a bug. Here in LdapRecord we're making the assumption that an existing password will be overwritten via a batch `REPLACE` modification:

https://github.com/DirectoryTree/LdapRecord/blob/8ad10c26a992b46a265ff84b2d1845003c910a6e/src/Models/Concerns/HasPassword.php#L136-L153

We can update this to check if the user exists to properly set the batch

[2022-09-30 20:24] stevebauman commented on #504
Can you confirm you're on the new version (v2.17.2)? You can find out by searching your `composer.lock` file for `directorytree/ldaprecord`

[2022-09-30 20:39] stevebauman commented on #504
Hmm that's strange -- as that would be the same batch modification generated on the root `Model` without extending the `User` model. I've just added a test case to ensure this is the case: https://github.com/DirectoryTree/LdapRecord/commit/3e5af5583a4d7f68f54d90d97183fd32ae1bc7c7

Can you revert to using your own custom model (without extending `ActiveDirectory\User`) and then dump the batch modif

[2022-10-04 17:47] vatsake opened #507 "Saved getModifications"
In the event "saved", there currently isn't any way to know what changed.
I don't want to use "saving" events, because maybe for some reason saving fails?

[2022-10-04 18:10] stevebauman commented on #507
Hi @vatsake,

This is intended, and operates the same as Laravel's Eloquent. I actually submitted a PR to Laravel for this feature, but it was denied for a good-cause, as the memory usage could be significant depending on how many models are updated in the lifetime of one request, since we would be storing a copy of all previous attributes after a model has been saved:

https://github.com/laravel/

[2022-10-04 18:27] #507 closed, assigned to nobody

[2022-10-04 20:01] stevebauman commented on #507
Happy to help @vatsake!

This works because you're accessing the changes directly inside of the `updated` event -- but you won't be able to access them outside of that event after a `save()`, as they are reset.

Ex:

[code]

You can actually do the same thing in LdapRecord as your above example if you'd like 👍

[2022-10-05 05:34] vatsake opened #508 "[Bug] Events not firing when updating groups"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version:  8.1

**Describe the bug:**
Modifying an AD group does not trigger saved/saving/updated/updating event.

[2022-10-05 11:03] stevebauman commented on #508
Hi @vatsake, can you share your code?

[2022-10-05 14:07] stevebauman commented on #508
Gotcha, thanks for posting that @vatsake! You're right -- this is a bug.

We're currently using the `$model->createAttribute()` method to add members to groups:

https://github.com/DirectoryTree/LdapRecord/blob/3e5af5583a4d7f68f54d90d97183fd32ae1bc7c7/src/Models/Relations/HasMany.php#L256

But this method does not fire any `updated` events:

https://github.com/DirectoryTree/LdapRecord/blob/3e5af55

[2022-10-07 14:09] #508 closed

[2022-10-07 14:12] stevebauman commented on #508
Hi @vatsake, a new release has just been created with a patch for this. Thanks again 👍

https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.17.3

[2022-10-07 19:21] stevebauman commented on #508
@vatsake Do you mean modifying group membership? In this case, there are no batch modifications added to the model, due to the relation using `$model->createAttribute()` (during group membership `attach()` or `$model->deleteAttribute()` (during a group membership `detach()`).

These method submit an attribute with a value for creation/deletion directly to the LDAP server (shown in the above commen

[2022-10-12 11:20] klepptor opened #514 "[Bug] Can't set userAccountControl with v2.17 and above"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 8.1.4 / 8.1.11

**Describe the bug:**

After updating LdapRecord from 2.16 to v2.18 I couldn't create new users anymore with the following code:

[code]

Active Directory Server returns

ErrorMessage: Server is unwilling to perform
DiagnosticMessage: 0000052D: SvcErr: DSID-031A126A, problem 5003 (WILL_NOT_PERFORM), data 0

I tri

[2022-10-12 12:58] stevebauman commented on #514
Hi @klepptor,

Are you sure this is an account control issue? Also, this line shouldn't work, as the user has not been created yet?

[code]

The only change to account creation between those two versions was to do with passwords:

https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.17.2

[2022-10-12 14:01] klepptor commented on #514
Hi @stevebauman

Frankly, I don't know. It's kind of weird...

[code]

The original code works with 2.16. I changed it to consider your hint with $user->refresh(); but both snippets fail after TRY1 when calling $user->save(); after setting userAccountControl = 512:

[2022-10-12 16:21] stevebauman commented on #514
If you do not set the `userAccountControl` on the user, are you able to save the user?

[2022-10-12 16:35] stevebauman commented on #504
@vatsake Can you post how you're encoding the password manually? The password is properly encoded on my end using the code below:

[code]

[2022-10-12 19:52] klepptor commented on #514
Yes, the user is created successfully. The code fails when calling $user->save(); after setting userAccountControl.

[2022-10-12 20:02] stevebauman commented on #514
Thanks @klepptor. Can you confirm if the password that you have set on the user during creation is properly set on the new user?

[2022-10-12 20:25] stevebauman commented on #504
Thanks for confirming that @vatsake 🙏

Can you explain this line? The password won't be sent in the subsequent `update()` call because the model was previously saved above it, clearing any modifications to the user.

Thanks for confirming that this approach works 🙏

[2022-10-13 07:45] klepptor commented on #514
Hi @stevebauman

I just tried to login with the new user (created with 2.18) after manually enabling the user. I unchecked the box to force the user to renew the password on first login (don't know if that's neccessary because I don't use the users for Windows login but for some web applications).

It did NOT work! So the password doesn't seem to be encoded/set correctly...

[2022-10-21 04:31] vincemammoliti opened #515 "convertWindowsTimeToDateTime returns wrong timezone for UTC time"
I am getting the whenChanged attribute of an AD user with $user->getFirstAttribute('whenChanged').

This returns a Carbon instance with the datetime matching what the time is in UTC, but incorrectly has the timezone set to my local timezone (Australia/Sydney).

e.g. Currently, if I var_dump the result of $user->getFirstAttribute('whenChanged') I will get:
[code]
Whereas, I expect to get:
[code]

I

[2022-10-21 07:57] stevebauman commented on #514
Hmm I’m getting a conflicting report from #504.

Im going to see if I can set up a local AD instance with SSL enabled to test this myself before I reverse the change (unless you can provide a reproducible test case of course).

[2022-10-21 08:16] stevebauman commented on #515
Hi @vincemammoliti,

Thanks for the report. Is your PHP timezone set to “Australia/Sydney” in your php.ini?

[2022-10-21 08:44] vincemammoliti commented on #515
Yes it is

[2022-11-06 17:36] stevebauman commented on #442
Can be done now via `Relation::resolveModelsUsing(fn () => ...)`.

[2022-11-06 17:36] #442 closed

[2022-11-06 18:20] #515 closed

[2022-11-06 18:23] stevebauman commented on #515
Thanks @vincemammoliti, I've just released [v2.19.0](https://github.com/DirectoryTree/LdapRecord/releases/tag/v2.19.0) with a fix for this bug. I appreciate the detailed report 🙏

[2022-11-08 07:02] klepptor commented on #514
Just to keep this updated:

I just tested v2.19 (although you didn't mention any changes concerning this bug), but it still doesn't work:

![image](https://user-images.githubusercontent.com/3921511/200496504-b41b6b7e-14fe-4a87-934e-466caeb48452.png)

![image](https://user-images.githubusercontent.com/3921511/200496518-d64cadfe-ad10-4079-8523-0b45e3c46b76.png)

![image](https://user-images.githubus

[2022-11-09 11:05] HinchK commented on #514
Howdy!    This smells familiar to issues I have experienced in the past testing OpenLDAP vs AD vs Okta/OneLogin/etc.

In certain configurations with TLS/SS,  `\` will act as an escape character and the binding will fail because the passwords are not matching on bind.

This is possible to validate by creating a user with `\` in the passowrd field and using ldap search:
[code]

`-w "<bind_password>"

[2022-11-20 19:22] #329 closed

[2022-11-20 19:23] stevebauman commented on #329
Complete in [v3](https://github.com/DirectoryTree/LdapRecord/tree/v3.0) branch.

[2022-11-21 12:57] stevebauman commented on #397
Completed in [v3](https://github.com/DirectoryTree/LdapRecord/tree/v3.0) branch.

[2022-11-21 12:57] #397 closed

[2022-11-21 12:59] stevebauman commented on #460
Completed in [v3](https://github.com/DirectoryTree/LdapRecord/tree/v3.0) branch.

[2022-11-21 12:59] #460 closed

[2022-11-21 13:50] stevebauman opened #526 "Update code doc references in exceptions in v3"
Ex:

https://github.com/DirectoryTree/LdapRecord/blob/912385e9c55bb95681eb30472ff066b771dd76f8/src/Query/Model/Builder.php#L436-L437

[2022-11-21 13:52] stevebauman commented on #458
Completed in [v3](https://github.com/DirectoryTree/LdapRecord/tree/v3.0) branch.

[2022-11-21 13:52] #458 closed

[2022-11-22 12:20] testlorenzospa opened #528 "Connect with a domain controller"
**Environment:**
 - LDAP Server Type: ActiveDirectory
 - PHP Version: 8.1

Hello.

For connect to a LDAP server I should use a domain controller.
Can I connect to a LDAP server with a domain controller?

Thanks.

[2022-11-22 13:55] stevebauman commented on #528
Hi @testlorenzospa,

Yes -- your domain controller is an LDAP server.

[code]

https://ldaprecord.com/docs/core/v2/connections#introduction

[2022-11-22 13:55] #528 closed

[2022-11-22 16:59] testlorenzospa commented on #528
Hi @stevebauman

Thanks for your reply.
I have found the issue (my only problem).

Thanks again.